.box_lightgreen {
    background-color:rgba(50, 157, 28, 0.25);
    border-top: 4px grey solid;
    border-bottom: 4px grey solid;
    padding: 10px 5px 15px 5px; /* top right bot left */
}

.heading_lightgreen{
    background-color: rgba(50, 157, 28, 0.25);
    border-bottom: 2px grey solid;
    padding: 1px 15px;
    margin-bottom: 10px;
}

.heading_lightgreen h2{
    margin: 0.5em 0px;
    font-size: 1.5em;
}

.border_bottom{
    border-bottom: 4px grey solid;
}

.box_black {
    background-color: black;
    color: white;
    padding: 10px;
}

.box_black h2{
    margin: 0px;
}

.subline{
    padding: 20px 10px;
}


.mg_lg {

    margin: 20px 0px;
}

.panel-red >.panel-heading {
    background-color: indianred;
}

.btn_main {

    background-color: rgb(50, 157, 28);
    color: white;
    border: 3px solid grey;

}

.a-box {
    display: block;
    border-radius: 4px;
    border: 1px #ddd solid;
    background-color: white;
}

.a-box2 {
    display: block;
    border-radius: 4px;
    border: 1px green solid;
    background-color: white;
}

.a-box-green {
    display: block;
    border-radius: 4px;
    border: 1px green solid;
    background-color: white;
}
.a-box .a-box-inner {
    border-radius: 4px;
    position: relative;
}

.a-padding-none {
    padding: 0 !important;
}

ul.a-nostyle {
    margin-left: 0;
    color: #333;
}

.vd_btn {
    background-color: #DDDDDD;
    color: #FFFFFF;

}

.vd_bg-green {
    background-color: rgb(50, 157, 28) !important;
}
.vd_bg-green:hover {
    background-color: gray !important;
}
.vd_bg-green-small {
    background-color: rgb(50, 157, 28) !important;
    height: 22px;
    padding: 4px 8px;
    font-size: 12px
}
.vd_bg-green-small:hover {
    background-color: gray !important;
    height: 22px;
    padding: 4px 8px;
    font-size: 12px
}
.vd_bg-green-big {
    background-color: rgb(50, 157, 28) !important;
    height: 35px;
    padding: 4px 8px;
    font-size: 18px
}
.vd_bg-green-big:hover {
    background-color: gray !important;
    height: 35px;
    padding: 4px 8px;
    font-size: 18px
}
.vd_bg-green:hover {
    background-color: gray!important;
}

.vd_bg-red {
    background-color: red !important;
}

.vd_bg-red:hover {
    background-color: gray !important;
}
.vd_bg-red-big {
    background-color: red !important;
    height: 35px;
    padding: 4px 8px;
    font-size: 18px;
}
.vd_bg-red-big:hover {
    background-color: gray !important;
    height: 35px;
    padding: 4px 8px;
    font-size: 18px;
}

.btn-xs {
    font-size: 12px;
    padding: 4px 8px;
}
.edit_links {
    color: black;
}



/* Helpers*/

.m-auto{
    margin: 0px auto;
}

.p-10{
    padding: 10px 0px;
}

.p-20{
    padding: 20px 0px;
}

.pl-7{
    padding-left: 7%;
}

.m-top-5 {
    margin-top: 5px;
}
.m-top-10{
    margin-top: 10px;
}
.m-top-20 {
    margin-top: 20px;
}
.m-top-30{
    margin-top: 30px;
}
.m-top-50{
    margin-top: 50px;
}
.m-bot-10{
    margin-bottom: 10px;
}
.m-top-100{
    margin-top: 100px;
}

.pd_lg {

    padding-top: 20px;

}

.span_error{
    color: red;
}
.span_green{
    color: green;
}

.cite_fs {

    font-size: 100%;
}


.nav, .pagination, .carousel, .panel-title a{
    cursor: pointer;
}

/* Header */
header {
    clear: both;
    min-height: 75px;
}

.navbar{
    padding-bottom: 0px;
}

.navbar-fixed-top{
    min-height: 75px;
    padding-top: 10px;
}

.breadcrumbOuter{
    background-color: #000;
}

.breadcrumb{
    background: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin-bottom: 0px;
}

.breadcrumb a{
    color: #fff;
}

.sign-up{
    position: absolute;
    right: 30px;
    bottom: 0px;
    margin-bottom: -4px;
    font-size: 12px;
}

.login-form{
    padding-top: 0px;
    margin-top: 0px;
    margin-right: 10px;
}

h1, h2, h3, h4, h5, h6, .navbar a, button{
    font-family: 'Slabo 27px', serif;
}

.logo{
    padding-left: 10px;
    color: #000;
    font-size: 25px;
}

.logo:hover{
    color: #000;
}

.logo img{
    height: 55px;
    margin-right: 5px;
}

.navbar-main-nav{
    margin-top: 4px;
}

.navbar-main-nav li a{
    font-size: 1.2em;
}

.navbar-main-nav li a ul li{
    font-size: 0.8em;
}

.navbar-user img{
    height: 55px;
    margin-right: 10px;
}

.navbar-user .username{
    margin-right: 30px;
    text-align: center;
}

.navbar-user .username p{
    margin-top: 8px;
}

.message_sign{
    padding-bottom: 6px;
    padding-top: 20px;
    color: red;
    width: 15px;
}

.eye_sign{
    padding-bottom: 6px;
    padding-top: 20px;
    padding-left: 8px;
    color: green;
}


.carousel-caption{
    padding-bottom: 7%;
}

.carousel-caption input{
    width: 95%;
}

.alert-success{
    padding: 5px;
    text-align: center;
}
.alert-danger{
    padding: 5px;
    text-align: center;
}

.white-space-about {
    min-height:100%
    margin-bottom: 20px;
    margin-top:150px;
}
.white-space-contact {
    min-height:100%
margin-bottom: 20px;
    margin-top:30px;
}
.white-space-step5 {
    min-height:100%
margin-bottom: 10px;
    margin-top:100px;
}
.white-space-login {
    min-height: 100% margin-bottom : 20 px;
    margin-top: 166px;
}

.img-transformed{
    -ms-transform: rotate(13deg);
    -webkit-transform: rotate(13deg);
    transform: rotate(13deg);
    border: 1px solid grey;
    width: 250px
}

.remarks{
    width: 100%;
}

.headline{
    margin-top: 0px;
}

.link-green{
    color: green;
    font-size: 16px;
}

.proposed-green{
    color: green;
    font-size: 26px;
}

.link-green:hover{
    color: green;
    text-decoration: none;
}

.message{
    width: 85%;
    height: 5em;
    margin-top: 2em;
    float: right;
}

.message_high{
    width: 85%;
    height: 8em;
    margin-top: 2em;
    float: right;
}
.message_normal{
    width: 95%;
    height: 8em;
    margin-top: 2em;

}

.img-user{
    height: 150px;
}

html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
}

#top {
    overflow:auto;
    padding-bottom:135px; /* this needs to be bigger than footer height*/
}

.footer {
    position: relative;
    margin-top: -135px; /* negative value of footer height */
    height: 135px;
    clear:both;
}