.progress{
    margin-top: 15px;
    height: 60px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    position: relative;
}

.progress-bar{
    line-height: 60px;
    font-size: 1.15em;
    font-family: 'Slabo 27px', serif;
}

.progress-bar-warning{
    position: relative;
    background-color: grey;
}

.progress-bar-success{
    position: relative;
    background-color: #329d1c;
}

.progress-bar-active{
    position: relative;
    background-color: #f0ad4e;
}

.progress-bar-active:after{
    content: '';
    position: absolute;
    height: 60px;
    width: 60px;
    background: grey;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    right: -30px;
}

.progress-bar-active:before{
    content: '';
    position: absolute;
    height: 60px;
    width: 60px;
    background: #f0ad4e;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    left: -30px;
}

.progress-bar-active:first-child:before{
    display: none;
}

.progress-bar-active:last-child:after{
    display: none;
}