<header ng-include="template.header"></header>
<div ng-include="template.breadcrumbs"></div>


<div class="row clearfix box_lightgreen">
    <div class="col-sm-12">
        <div class="container">


            <h2>About drive2nature</h2>


            <p>
                In 2015 a team of young nature enthusiasts started to develop the idea of creating a car pooling
                platform
                not only for travelling from city to city but mainly focused on driving into the nature and exploring
                the
                beauty of untouched wilderness and regions not yet claimed by mass tourism. What started out as a
                brainstorming
                session among like-minded peers quickly became realitiy when the development of our platfom started. In
                this
                process drive2nature proved to be much more than a simple mean for saving money while being able to
                travel. One
                of the most positiv aspects is that the platform connects people with shared interests and enables them
                to do
                actitvities together.
            </p>

            <p><strong>All of that to the benefit of what we love - nature.</strong></p>

            <p>We like to thank all friends of the drive2nature platform and wish you a safe and happy trip to the
                destination of your dreams!</p>


        </div>
    </div>
</div>