<div class="row breadcrumbOuter">
    <div class="container">
        <div class="row">

            <ul class="breadcrumb">

                <li><a href="#/">Home</a></li>
                <li ng-repeat="breadcrumb in breadcrumbs"><a ng-href="{{breadcrumb.link}}">{{breadcrumb.text}}</a></li>
            </ul>

        </div>
    </div>
</div>