<header ng-include="template.header"></header>
<div ng-include="template.breadcrumbs"></div>


<div class="row clearfix heading_lightgreen">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Requested Participation</h2>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="container">
        <div class="col-sm-12">
            <h2 ng-show="pendingParticipants.length > 0">
                Requests for the trip "{{pendingParticipants[0].trip.title}}":
            </h2>
        </div>
    </div>
</div>
<div class="alert-box alert-success" role='alert' ng-show="pendingParticipants.length == 0">
    <h2> You have successfully answered all requests of this trip!</h2>
</div>
<div class="alert-box alert-success" role='alert' ng-show="successAccept">
    <h2>{{successMessage}}</h2>
    <a href="#/myTrips">
        <button class="btn btn-default">Back to your Trips?</button>
    </a>
</div>
<div class="alert-box alert-danger" role='alert' ng-show="errorAccept">
    <h2>{{errorMessage}}</h2>
</div>
<div class="alert-box alert-success" role='alert' ng-show="successDecline">
    <h2>{{successMessage}}</h2>
    <a href="#/myTrips">
        <button class="btn btn-default">Back to your Trips?</button>
    </a>
</div>
<div class="alert-box alert-danger" role='alert' ng-show="errorDecline">
    <h2>{{errorMessage}}</h2>
</div>
<div class="row">
    <div class="container">
        <div class="col-sm-12">

            <div ng-repeat="participant in pendingParticipants">
                <div class="row">

                    <div class="col-xs-2"></div>
                    <div class="a-box2 col-xs-8 m-top-10">
                        <div class="a-box-inner a-padding-none ">
                            <ul class="a-nostyle a">
                                <div class="m-top-20">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div ng-if="participant.user.picture == '' || participant.user.picture == null">
                                                <img src="assets/images/defaultImage.png" class="img-rounded"/>
                                            </div>
                                            <div ng-if="participant.user.picture != '' && participant.user.picture != null">
                                                <img ng-src="{{participant.user.picture}}"
                                                     class="img-rounded img-user"/>
                                            </div>
                                        </div>
                                        <div class="col-sm-offset-3">
                                            <div class="col-sm-12">
                                                <textarea
                                                        ng-model="text"
                                                        class="message_high"
                                                        placeholder="Give {{participant.user.firstName}} {{participant.user.lastName}} some information about your trip ..."></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <a href="#/profilePublic/{{participant.user.id}}">
                                                <h3>{{participant.user.firstName}} {{participant.user.lastName}}</h3>
                                            </a>
                                        </div>
                                        <div class="col-sm-offset-8">
                                            <button ng-click="decline(participant.id, participant.user.firstName, participant.user.lastName, text)"
                                                    class="btn btn-primary  vd_bg-green">Decline
                                            </button>
                                            <button ng-click="accept(participant.id, participant.user.firstName, participant.user.lastName, text);"
                                                    class="btn btn-primary  vd_bg-green">Accept
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>