<header ng-include="template.header"></header>
<div ng-include="template.breadcrumbs"></div>

<div class="row clearfix heading_lightgreen">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 style="float: left">Create your desired Trip!</h2>
                <span class="glyphicon glyphicon-info-sign " data-toggle="popover" aria-hidden="true"
                      title="Create your desired trip by filling out all required key facts in order to find fellow passengers."
                      style="float: right; font-size: 1.5em; margin:0.5em 0px"></span>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="col-md-12">

            <div class="progress">
                <div class="progress-bar"
                     ng-class="{'progress-bar-success': step > 1 , 'progress-bar-active': step == 1}" role="progressbar"
                     style="width:25%">
                    Date & Destination
                </div>
                <div class="progress-bar"
                     ng-class="{'progress-bar-success': step > 2 , 'progress-bar-active': step == 2, 'progress-bar-warning': step < 2}"
                     role="progressbar" style="width:25%">
                    Car Characteristics
                </div>
                <div class="progress-bar"
                     ng-class="{'progress-bar-success': step > 3 , 'progress-bar-active': step == 3, 'progress-bar-warning': step < 3}"
                     role="progressbar" style="width:25%">
                    Specification
                </div>
                <div class="progress-bar"
                     ng-class="{'progress-bar-success': step > 4 , 'progress-bar-active': step == 4, 'progress-bar-warning': step < 4}"
                     role="progressbar" style="width:25%">
                    Summary
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <button ng-show="step > 1 && step < 5" ng-click="prev()" class="btn btn-default btn_main">Previous</button>
            <button ng-show="step < 4" ng-click="next()" class="btn btn-default btn_main" style="float:right;">Next
            </button>
            <button ng-show="step == 4" ng-click="confirmStep()" class="btn btn-default vd_bg-green"
                    ng-disabled="signup_form.$invalid" style="float: right;">Confirm
            </button>
        </div>
    </div>
</div>
<form class="form-horizontal" name="signup_form" novalidate ng-submit="save">

    <div ng-show="step==1">

        <div class="container">


            <h1>Date & Destination</h1>

            <hr class="dot"/>
            <h4>> headline</h4>


            <div class="form-group row">
                <label for="title" class="col-xs-2 control-label">Short Title*:</label>

                <div class="col-xs-10">
                    <input
                            ng-class="{error: signup_form.title.$dirty && signup_form.title.$invalid}"
                            type="text"
                            class="form-control"
                            id="title"
                            placeholder="e.g. Skiing in Ski Resort Grosser Arber"
                            ng-model="trip.title"
                            name="title"
                            ng-minlength="3"
                            required ng-focus/>

                    <div class="error-container"
                         ng-show="signup_form.title.$dirty && signup_form.title.$invalid && !signup_form.title.$focused">
                        <small class="error"
                               ng-show="signup_form.title.$error.required">
                            <span class="span_error">A Short Title is required! <br/> </span>
                        </small>
                        <small class="error"
                               ng-show="signup_form.title.$error.minlength">
                            <span class="span_error">Your Short Title is required to be at least 3 characters! <br/></span>
                        </small>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="costs" class="col-xs-2 control-label">Likely Costs p.P.*:</label>

                <div class="col-xs-10">
                    <input
                            ng-class="{error: signup_form.costs.$dirty && signup_form.costs.$invalid}"
                            type="text"
                            class="form-control"
                            ng-pattern="/^\d+$/"
                            id="costs"
                            placeholder="e.g. 10,00 EUR"
                            ng-model="trip.costs"
                            name="costs"
                            required ng-focus/>

                    <div class="error-container"
                         ng-show="signup_form.costs.$dirty && signup_form.costs.$invalid && !signup_form.costs.$focused">
                        <small class="error"
                               ng-show="signup_form.costs.$error.required">
                            <span class="span_error">Likely Costs per Person is required! <br/> </span>
                        </small>
                        <small class="error"
                               ng-show="signup_form.costs.$error.pattern">
                            <span class="span_error">Only numbers for costs! <br/> </span>
                        </small>
                    </div>
                </div>
            </div>


            <hr class="dot"/>
            <h4>> journey there</h4>

            <div class="form-group row">
                <label for="startLocation1" class="col-xs-2 control-label">Departure*:</label>

                <div class="col-xs-10">
                    <input
                            ng-class="{error: signup_form.startLocation1.$dirty && signup_form.startLocation1.$invalid}"
                            type="text"
                            class="form-control"
                            id="startLocation1"
                            placeholder="start location (e.g. Munich)"
                            ng-model="trip.startLocation1"
                            name="startLocation1"
                            ng-minlength="3"
                            required ng-focus/>

                    <div class="error-container"
                         ng-show="signup_form.startLocation1.$dirty && signup_form.startLocation1.$invalid && !signup_form.startLocation1.$focused">
                        <small class="error"
                               ng-show="signup_form.startLocation1.$error.required">
                            <span class="span_error">Departure is required! <br/> </span>
                        </small>
                        <small class="error"
                               ng-show="signup_form.startLocation1.$error.minlength">
                            <span class="span_error">Departure is required to be at least 3 characters! <br/></span>
                        </small>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="targetLocation1" class="col-xs-2 control-label">Target*:</label>

                <div class="col-xs-10">
                    <input
                            ng-class="{error: signup_form.targetLocation1.$dirty && signup_form.targetLocation1.$invalid}"
                            type="text"
                            class="form-control"
                            id="targetLocation1"
                            placeholder="target location (e.g. Garmisch)"
                            ng-model="trip.targetLocation1"
                            name="targetLocation1"
                            ng-minlength="3"
                            required ng-focus/>

                    <div class="error-container"
                         ng-show="signup_form.targetLocation1.$dirty && signup_form.targetLocation1.$invalid && !signup_form.targetLocation1.$focused">
                        <small class="error"
                               ng-show="signup_form.targetLocation1.$error.required">
                            <span class="span_error">Target is required! <br/> </span>
                        </small>
                        <small class="error"
                               ng-show="signup_form.targetLocation1.$error.minlength">
                            <span class="span_error">Target is required to be at least 3 characters! <br/></span>
                        </small>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="departureDate1" class="col-xs-2 control-label">Date*:</label>

                <div class="col-xs-3">
                    <p class="input-group">
                        <input
                                ng-class="{error: signup_form.departureDate1.$dirty && signup_form.departureDate1.$invalid}"
                                type="text"
                                datepicker-popup="{{format}}"
                                is-open="opened1"
                                ng-click="opened1=true"
                                datepicker-options="dateOptions" show-button-bar="false"
                                date-disabled="disabled(date, mode)"
                                datepicker-localdate
                                class="form-control"
                                id="departureDate1"
                                placeholder="date"
                                ng-model="trip.departureDate1"
                                name="departureDate1"
                                required/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default"
                                    ng-click="opened1=true;$event.stopPropagation();">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </p>
                    <div class="error-container"
                         ng-show="signup_form.departureDate1.$dirty && signup_form.departureDate1.$invalid && !signup_form.departureDate1.$focused">
                        <small class="error"
                               ng-show="signup_form.departureDate1.$error.required">
                            <span class="span_error">Date is required!! <br/> </span>
                        </small>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-xs-2 control-label">Time*:</label>

                <div class="col-xs-10">
                    <timepicker type="text"
                                ng-model="trip.departureTime1"
                                ng-change="changed()"
                                hour-step="hstep"
                                minute-step="mstep"
                                show-meridian="ismeridian"
                                name="departureTime1"
                                id="departureTime1"
                                timepicker-localtime
                                required ng-focus>

                    </timepicker>
                    <div class="error-container"
                         ng-show="signup_form.departureTime1.$dirty && signup_form.departureTime1.$invalid && !signup_form.departureTime1.$focused">
                        <small class="error"
                               ng-show="signup_form.departureTime1.$error.required">
                            <span class="span_error">Time is required! <br/> </span>
                        </small>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="isSequelRoute1" class="col-xs-2 control-label">Stopover possible:
                        <span class="glyphicon glyphicon-info-sign" data-toggle="popover" aria-hidden="true"
                              title="Is it possible to fetch a passenger elsewhere than the Start Location (e.g. at home)?"></span>
                </label>

                <div class="col-xs-10">
                    <input
                            ng-class="{error: signup_form.isSequelRoute1.$dirty && signup_form.isSequelRoute1.$invalid}"
                            type="checkbox"
                            id="isSequelRoute1"
                            ng-model="trip.isSequelRoute1"
                            name="isSequelRoute1"
                            />
                </div>
            </div>


            <hr class="dot"/>
            <h4>> return journey</h4>

            <div class="form-group row">
                <label for="startLocation2" class="col-xs-2 control-label">Departure*:</label>

                <div class="col-xs-10">
                    <input
                            ng-class="{error: signup_form.startLocation2.$dirty && signup_form.startLocation2.$invalid}"
                            type="text"
                            class="form-control"
                            id="startLocation2"
                            placeholder="start location (e.g. Garmisch)"
                            ng-model="trip.startLocation2"
                            name="startLocation2"
                            ng-minlength="3"
                            required ng-focus/>

                    <div class="error-container"
                         ng-show="signup_form.startLocation2.$dirty && signup_form.startLocation2.$invalid && !signup_form.startLocation2.$focused">
                        <small class="error"
                               ng-show="signup_form.startLocation2.$error.required">
                            <span class="span_error">Departure is required! <br/> </span>
                        </small>
                        <small class="error"
                               ng-show="signup_form.startLocation2.$error.minlength">
                            <span class="span_error">Departure is required to be at least 3 characters! <br/></span>
                        </small>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="targetLocation2" class="col-xs-2 control-label">Target*:</label>

                <div class="col-xs-10">
                    <input
                            ng-class="{error: signup_form.targetLocation2.$dirty && signup_form.targetLocation2.$invalid}"
                            type="text"
                            class="form-control"
                            id="targetLocation2"
                            placeholder="target location (e.g. Munich)"
                            ng-model="trip.targetLocation2"
                            name="targetLocation2"
                            ng-minlength="3"
                            required ng-focus/>

                    <div class="error-container"
                         ng-show="signup_form.targetLocation2.$dirty && signup_form.targetLocation2.$invalid && !signup_form.targetLocation2.$focused">
                        <small class="error"
                               ng-show="signup_form.targetLocation2.$error.required">
                            <span class="span_error">Target is required! <br/> </span>
                        </small>
                        <small class="error"
                               ng-show="signup_form.targetLocation2.$error.minlength">
                            <span class="span_error">Target is required to be at least 3 characters! <br/></span>
                        </small>
                    </div>
                </div>
            </div>


            <div class="form-group row">
                <label for="departureDate2" class="col-xs-2 control-label">Date*:</label>

                <div class="col-xs-3">
                    <p class="input-group">
                        <input
                                ng-class="{error: signup_form.departureDate2.$dirty && signup_form.departureDate2.$invalid}"
                                type="text"
                                datepicker-popup="{{format}}"
                                is-open="opened2"
                                ng-click="opened2=true"
                                datepicker-options="dateOptions" show-button-bar="false"
                                date-disabled="disabled(date, mode)"
                                datepicker-localdate
                                class="form-control"
                                id="departureDate2"
                                placeholder="date"
                                ng-model="trip.departureDate2"
                                same-date
                                name="departureDate2"
                                required/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default"
                                    ng-click="opened2=true;$event.stopPropagation();">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </p>
                    <div class="error-container"
                         ng-show="signup_form.departureDate2.$dirty && signup_form.departureDate2.$invalid && !signup_form.departureDate2.$focused || beforeDate(trip.departureDate2,trip.departureDate1)">
                        <small class="error"
                               ng-show="signup_form.departureDate2.$error.required">
                            <span class="span_error">Date is required!! <br/> </span>
                        </small>
                        <small class="error"
                               ng-show="beforeDate(trip.departureDate2,trip.departureDate1)">
                            <span class="span_error"> Date for return journey cannot be before date for journey there! </span>
                        </small>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-xs-2 control-label">Time*: </label>

                <div class="col-xs-10">
                    <timepicker type="text" data-time-format="h:mm a" ng-model="trip.departureTime2"
                                ng-change="changed()" hour-step="hstep" minute-step="mstep"
                                show-meridian="ismeridian" name="departureTime2"
                                id="departureTime2" timepicker-localtime required ng-focus>

                    </timepicker>
                    <div class="error-container"
                         ng-show="signup_form.departureTime2.$dirty && signup_form.departureTime2.$invalid && !signup_form.departureTime2.$focused || beforeTime(trip.departureTime2, trip.departureTime1) && sameDate(trip.departureDate2, trip.departureDate1)">
                        <small class="error"
                               ng-show="signup_form.departureTime2.$error.required">
                            <span class="span_error">Time is required! <br/> </span>
                        </small>
                        <small class="error"
                               ng-show="beforeTime(trip.departureTime2, trip.departureTime1) && sameDate(trip.departureDate2, trip.departureDate1)">
                            <span class="span_error"> Time for return journey cannot be before time for journey there at the same day! </span>
                        </small>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="isSequelRoute2" class="col-xs-2 control-label">Stopover possible:
                        <span class="glyphicon glyphicon-info-sign" data-toggle="popover" aria-hidden="true"
                              title="Is it possible to fetch a passenger elsewhere than the Start Location (e.g. at home)?"></span>
                </label>

                <div class="col-xs-10">
                    <input
                            ng-class="{error: signup_form.isSequelRoute2.$dirty && signup_form.isSequelRoute2.$invalid}"
                            type="checkbox"
                            id="isSequelRoute2"
                            ng-model="trip.isSequelRoute2"
                            name="isSequelRoute2"
                            />
                </div>
            </div>
        </div>


        <div class="row clearfix heading_lightgreen">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 style="float: left">Popular Places to go:</h2>

                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <p style="float: right">Advertising
                <br>
                <a href="http://www.area47.at/"><img src="assets/images/Area47.png"/></a></p>

            <div>
                <br>
                <b>1. AREA 47</b>
                <br>
                <button>read user comments <span class="glyphicon glyphicon-comment"></span></button>
            </div>
            <div>
                <br>
                <b>2. Zugspitze</b>
                <br>
                <button>read user comments <span class="glyphicon glyphicon-comment"></span></button>
            </div>
            <div>
                <br>
                <b>3. Herzogstand</b>
                <br>
                <button>read user comments <span class="glyphicon glyphicon-comment"></span></button>
            </div>


        </div>

    </div>


    <div ng-show="step==2">
        <div class="container">

            <h1>Car Characteristics</h1>


            <hr class="dot"/>

            <div class="form-group row">
                <label for="availableSeats" class="col-xs-2 control-label">Available Seats*:</label>

                <div class="col-xs-10">
                    <input
                            ng-class="{error: signup_form.availableSeats.$dirty && signup_form.availableSeats.$invalid}"
                            type="number"
                            class="form-control"
                            ng-pattern="/^\d+$/"
                            id="availableSeats"
                            placeholder="2"
                            ng-model="trip.availableSeats"
                            name="availableSeats"
                            required ng-focus/>

                    <div class="error-container"
                         ng-show="signup_form.availableSeats.$dirty && signup_form.availableSeats.$invalid && !signup_form.availableSeats.$focused">
                        <small class="error"
                               ng-show="signup_form.availableSeats.$error.required">
                            <span class="span_error">Available Seats is required! <br/> </span>
                        </small>
                        <small class="error"
                               ng-show="signup_form.availableSeats.$error.pattern">
                            <span class="span_error">Only numbers for available seats! <br/> </span>
                        </small>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="carType" class="col-xs-2 control-label">Car Type*:</label>

                <div class="col-xs-10">
                    <input
                            ng-class="{error: signup_form.carType.$dirty && signup_form.carType.$invalid}"
                            type="text"
                            class="form-control"
                            id="carType"
                            placeholder="e.g. Skoda Octavia Combi"
                            ng-model="trip.carType"
                            name="carType"
                            ng-minlength="3"
                            required ng-focus/>

                    <div class="error-container"
                         ng-show="signup_form.carType.$dirty && signup_form.carType.$invalid && !signup_form.carType.$focused">
                        <small class="error"
                               ng-show="signup_form.carType.$error.required">
                            <span class="span_error">Car Type is required! <br/> </span>
                        </small>
                        <small class="error"
                               ng-show="signup_form.carType.$error.minlength">
                            <span class="span_error">Car Type is required to be at least 1 characters! <br/></span>
                        </small>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="equipment" class="col-xs-2 control-label">Equipment that can be carried:</label>

                <div class="col-xs-10">
            <textarea
                    class="form-control"
                    id="equipment"
                    placeholder="e.g. Ski or bike"
                    ng-model="trip.equipment"
                    name="equipment">
            </textarea>
                </div>
            </div>

            <div class="form-group row">
                <label for="remarks" class="col-xs-2 control-label">Additional Remarks:</label>

                <div class="col-xs-10">
            <textarea
                    class="form-control"
                    id="remarks"
                    placeholder="e.g. bycicle rack available"
                    ng-model="trip.remarks"
                    name="remarks">
            </textarea>
                </div>
            </div>
        </div>


        <div class="row clearfix heading_lightgreen">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 style="float: left">Book a car with our partners!</h2>

                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <p><a href="https://de.drive-now.com/"><img src="assets/images/drive know.png" style="float: left"/></a>
            </p>

            <p><a href="http://www.sixt.de/"><img src="assets/images/sixt.png" style="float: right"/></a></p>
        </div>

    </div>


    </div>

    <div ng-show="step==3">
        <div class="container">
            <h1>Specification</h1>
            <hr class="dot"/>

            <div class="form-group">
                <label for="groupActivity" class="col-xs-2 control-label">Group Activity:
                    <span class="glyphicon glyphicon-info-sign" data-toggle="popover" aria-hidden="true"
                          title="Group Activity means that doing the activity together in group is requested."></span>
                </label>

                <div class="col-xs-10">
                    <input
                            ng-class="{error: signup_form.groupActivity.$dirty && signup_form.groupActivity.$invalid}"
                            type="checkbox"
                            id="groupActivity"
                            ng-model="trip.groupActivity"
                            name="groupActivity"
                            />
                </div>
            </div>

            <div class="form-group">
                <label for="intention" class="col-xs-2 control-label">Describe your Intention:</label>

                <div class="col-xs-10">
            <textarea
                    class="form-control"
                    id="intention"
                    placeholder="What is your intention?"
                    ng-model="trip.intention"
                    name="intention">
            </textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="interest" class="col-xs-2 control-label">Interested in:</label>

                <div class="col-xs-10">
            <textarea
                    class="form-control"
                    id="interest"
                    placeholder="Describe in what are you interested."
                    ng-model="trip.interest"
                    name="interest">
            </textarea>
                </div>
            </div>
        </div>


    </div>

    <div ng-show="step==4">

        <div class="row clearfix alert-danger" ng-show="signup_form.$invalid">
            <div class="error-container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2>For Confirmation please fill out all required fields! Following fields are missing:</h2>
                        <h4 ng-show="signup_form.title.$invalid">Short Title</h4>
                        <h4 ng-show="signup_form.costs .$invalid">Likely Costs per Person</h4>
                        <h4 ng-show="signup_form.startLocation1.$invalid">Departure for journey there</h4>
                        <h4 ng-show="signup_form.targetLocation1.$invalid">Target for journey there</h4>
                        <h4 ng-show="signup_form.departureDate1.$invalid">Date for journey there</h4>
                        <h4 ng-show="signup_form.departureTime1.$invalid">Time for journey there</h4>
                        <h4 ng-show="signup_form.startLocation2.$invalid">Departure for return journey</h4>
                        <h4 ng-show="signup_form.targetLocation2.$invalid">Target for return journey</h4>
                        <h4 ng-show="signup_form.departureDate2.$invalid">Date for return journey</h4>
                        <h4 ng-show="signup_form.departureTime2.$invalid">Time for return journey</h4>
                        <h4 ng-show="signup_form.availableSeats.$invalid">Available Seats</h4>
                        <h4 ng-show="signup_form.carType.$invalid">Car Type</h4>
                        <button ng-click="jumpTo(1)">edit <span class="glyphicon glyphicon-pencil"> </span></button>
                    </div>
                </div>
            </div>
        </div>


        <div class="container">
            <h1>Summary</h1>

            <hr class="headline"/>
            <div class="col-sm-12">
                <h4>headline</h4>
                <hr class="headline"/>
                <button class="col-sm-offset-11 btn btn-default vd_bg-green-small" ng-click="jumpTo(1)">edit
                    <span class="glyphicon glyphicon-pencil"> </span></button>
                <div class="col-md-offset-2 col-md-5 m-bot-10">

                    <p><strong>Short Title*:</strong> {{trip.title}} </p>

                    <p><strong>Likely Costs*:</strong> {{trip.costs}} €</p>
                </div>
            </div>
            <div class="col-sm-12">
                <h4 class="m-top-20">journey</h4>
                <hr class="headline"/>
                <button class="col-sm-offset-11 btn btn-default vd_bg-green-small" ng-click="jumpTo(1)">edit
                    <span class="glyphicon glyphicon-pencil"> </span></button>
                <div class="row">
                    <div class="col-md-offset-1 col-md-5">
                        <i> Journey There</i>
                    </div>
                    <div class="col-md-5">
                        <i> Journey Back </i>
                    </div>
                </div>
                <div class="col-md-offset-2 col-md-5 m-top-10">
                    <p><strong>Departure*:</strong> {{trip.startLocation1}}</p>

                    <p><strong>Target*:</strong> {{trip.targetLocation1}}</p>

                    <p><strong>Date&Time*:</strong> {{trip.departureDate1 | date : 'mediumDate'}}
                        {{trip.departureTime1 | date: 'shortTime'}}</p>

                    <p ng-show="trip.isSequelRoute1"><strong>Stopover:</strong> A stopover would be possible</p>

                    <p ng-show="!trip.isSequelRoute1"><strong>Stopover:</strong> Unfortunately a stopover is not
                        possible</p>
                </div>
                <div class="col-md-5 m-top-10">
                    <p><strong>Departure*:</strong> {{trip.startLocation2}}</p>

                    <p><strong>Target*:</strong> {{trip.targetLocation2}}</p>

                    <p><strong>Date&Time*:</strong> {{trip.departureDate2 | date : 'mediumDate'}}
                        {{trip.departureTime2 | date: 'shortTime'}}</p>

                    <p ng-show="trip.isSequelRoute2"><strong>Stopover:</strong> A stopover would be possible</p>

                    <p ng-show="!trip.isSequelRoute2"><strong>Stopover:</strong> Unfortunately a stopover is not
                        possible</p>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="col-md-1"></div>
                <h4 class="m-top-20">car characteristics</h4>
                <hr class="headline"/>
                <button class="col-sm-offset-11 btn btn-default vd_bg-green-small" ng-click="jumpTo(2)">edit
                    <span class="glyphicon glyphicon-pencil"> </span></button>
                <div class="col-md-offset-2 col-md-5 m-bot-10">
                    <p><strong>Available Seats*:</strong> {{trip.availableSeats}}</p>

                    <p><strong>Car Type*:</strong> {{trip.carType}}</p>

                    <p><strong>Equipment:</strong> {{trip.equipment}}</p>

                    <p><strong>Additional Remarks:</strong> {{trip.remarks}}</p>
                </div>
            </div>


            <div class="col-sm-12">
                <div class="col-md-1"></div>
                <h4 class="m-top-20">Specification</h4>
                <hr class="headline"/>
                <button class="col-sm-offset-11 btn btn-default vd_bg-green-small" ng-click="jumpTo(3)">edit
                    <span class="glyphicon glyphicon-pencil"> </span></button>
                <div class="col-md-offset-2 col-md-5 m-bot-10">
                    <p>

                    <div ng-show="trip.groupActivity"><b>Group activity :</b> Group activity is desired</div>
                    </p>
                    <p>

                    <div ng-show="!trip.groupActivity"><b>Group activity :</b> Group activity is not desired</div>
                    </p>

                    <p><strong>Intention:</strong> {{trip.intention}}</p>

                    <p><strong>Interested in:</strong> {{trip.interest}}</p>
                </div>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <br>
                <button ng-show="step > 1 && step < 5" ng-click="prev()" class="btn btn-default btn_main">Previous
                </button>
                <button ng-show="step < 4" ng-click="next()" class="btn btn-default btn_main" style="float:right;">Next
                </button>
                <button ng-show="step == 4" ng-click="confirmStep()" class="btn btn-default vd_bg-green"
                        ng-disabled="signup_form.$invalid" style="float: right;">Confirm
                </button>
            </div>
        </div>
    </div>

    <div ng-show="step==5">

        <div class="container">

            <div class="alert-box alert-success" role='alert' ng-show="success">
                <h2>You created successfully your trip</h2>
                <a href="#/">
                    <button class="btn btn-default">Go to the Startpage</button>
                </a>
            </div>
            <div class="alert-box alert-error" role='alert' ng-show="error"><b>Your trip could not be created. Please
                try again!</b>
            </div>
            <div class="white-space-step5"></div>
        </div>
    </div>
</form>
