<header ng-include="template.header"></header>
<div ng-include="template.breadcrumbs"></div>


<div class="row clearfix heading_lightgreen">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2> Delete your Account</h2>
            </div>
        </div>
    </div>
</div>
<div class="container m-top-30">
    <form name="edit_form" ng-submit="deleteAccount()">
        <div ng-show="!success">


            <div class="col-xs-2"></div>
            <div class="a-box col-xs-8">
                <div class="a-box-inner a-padding-none">
                    <ul class="a-nostyle a">

                        <div class="row ">
                            <h3> Hallo {{user.firstName}} {{user.lastName}}, </h3>

                            <div class="row m-top-20 col-xs-12">
                                <h4>
                                    are you sure that you want to delete your account at drive2nature? This cannot be
                                    undone!
                                    <p class="m-top-10">
                                        We regret that you don't want to be part of the drive2nature community anymore.
                                        Please help us to improve our service by providing some
                                        feedback and criticism.
                                    </p>
                                </h4>
                            </div>
                            <div class="row m-top-50 col-xs-2"></div>
                            <div class="row m-top-50 col-xs-8">
                                <h3> We hope we can welcome you again one day! </h3>
                            </div>
                            <div class="row m-top-20 col-xs-12 m-top-50">
                                <div class="col-xs-4 controls m-top-30"></div>
                                <div class="col-xs 5">
                                    <button type="submit" class="btn vd_btn vd_bg-red-big m-top-20 edit_links">
                                        <i class="glyphicon glyphicon-trash"> Delete Account</i>
                                    </button>
                                </div>
                            </div>
                            <div class="row m-top-20 col-xs-12 m-top-100"></div>
                        </div>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="alert-box alert-success" role='alert' ng-show="success">
                <h2> You deleted successfully your Account </h2>
            </div>
            <div class="alert-box alert-danger" role='alert' ng-show="error">
                <h2>{{errorMessage}}</h2>
            </div>
        </div>
    </form>
</div>