<header ng-include="template.header"></header>
<div ng-include="template.breadcrumbs"></div>


<!--======================= Picture=========================== -->
<div ng-if = "rubric == 'picture'">
    <div class="row clearfix heading_lightgreen">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2> Change your Email</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container m-top-30">

        <div class="alert-box alert-success"  role='alert'  ng-show="success">You changed successfully your Picture</div>
        <div class="alert-box alert-danger"  role='alert'  ng-show="error">{{errorMessage}}</div>

        <div class="row">
            <div class="col-xs-2"> </div>
            <div class="a-box col-xs-8">
                <div class="a-box-inner a-padding-none">
                    <ul class="a-nostyle a">

                        <div class="row">
                            <h4> You can change your picture in case you don't like your actual one anymore.
                                Click on "Select File" and "Save" to make your changes valid.</h4>
                            <div class="col-sm-2 m-top-20"></div>
                            <div class="col-sm-10 m-top-20">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-2 m-top-20"></div>
                            <div class="col-sm-10 m-top-20">
                                <button class="btn btn-default vd_bg-green" ngf-select ng-model="files" ngf-multiple="false">Select File</button>
                                <div class="m-top-10" ng-if="files != undefined">
                                    File: {{files[0].name}}
                                    <div class="col-sm-offset-2 m-top-10">
                                        <button class="btn btn-default vd_bg-green" ng-click="upload(files[0])">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!--======================= EMAIL=========================== -->
<div ng-if = "rubric == 'mail'">

    <form novalidate name="edit_form" ng-submit= "editm()">
        <div class="row clearfix heading_lightgreen">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2> Change your Email</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container m-top-30">

            <div class="alert-box alert-success"  role='alert'  ng-show="success">You changed successfully your Email </div>
            <div class="alert-box alert-danger"  role='alert'  ng-show="error">{{errorMessage}}</div>

            <div class="row">
                <div class="col-xs-2"> </div>
                <div class="a-box col-xs-8">
                    <div class="a-box-inner a-padding-none">
                        <ul class="a-nostyle a">

                            <div class="row">
                                <h4> You can change your email in case your current address is not convenient anymore.
                                    Click on "Change Email" to make your changes valid.</h4>
                                <div class="col-sm-2 m-top-20"></div>
                                <div class="col-sm-10 m-top-20">
                                    <label class="col-xs-5 control-label m-top-10"> Your current email address: </label>
                                    <div class="col-xs-3 controls m-top-10"> {{currentValue}} </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-2 m-top-20"></div>
                                <div class="col-sm-10 m-top-20">
                                    <label for="mail" class="col-xs-10 control-label m-top-10"> Your new email: </label>
                                    <div class="col-xs-8 controls m-top-10">
                                        <input
                                                ng-class="{error: edit_form.mail.$dirty && edit_form.mail.$invalid && !edit_form.uName.$focused}"
                                                type="email"
                                                class="form-control"
                                                id="mail"
                                                placeholder="{{currentValue}}"
                                                ng-model="user.mail"
                                                name="mail"
                                                ensure-unique = "m"
                                                required ng-focus/>
                                        <div class="error-container"
                                             ng-show="edit_form.mail.$dirty && edit_form.mail.$invalid&& !edit_form.mail.$focused">
                                            <small class="error"
                                                   ng-show="edit_form.mail.$error.required">
                                                <span class = "span_error">A email is required! </span>
                                            </small>
                                            <small class="error"
                                                   ng-show="edit_form.mail.$error.email">
                                                <span class = "span_error">That is not a valid email. Please input a valid email! </span>
                                            </small>
                                            <small class="error"
                                                   ng-show="edit_form.mail.$error.unique">
                                                <span class = "span_error"> That mail is already taken, please login or try another! </span>
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row m-top-50">
                                <div class="col-xs-offset-4 col-xs-10">
                                    <button type="submit" ng-disabled="signup_form.$invalid" class="btn btn-default vd_bg-green">
                                        <span class="glyphicon glyphicon-envelope"></span> Change Email
                                    </button>
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<!--======================= Password=========================== -->
<div ng-if = "rubric == 'password'">

    <form novalidate name="edit_form" ng-submit= "editpw()">
        <div class="row clearfix heading_lightgreen">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2> Change your Password</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container m-top-30">

            <div class="alert-box alert-success"  role='alert'  ng-show="success">You changed successfully your Password </div>
            <div class="alert-box alert-danger"  role='alert'  ng-show="error">{{errorMessage}}</div>

            <div class="row">
                <div class="col-xs-2"> </div>
                <div class="a-box col-xs-8">
                    <div class="a-box-inner a-padding-none">
                        <ul class="a-nostyle a">

                            <div class="row">
                                <h4> You can change your password. Please make sure that your password has at least 6 characters
                                    and that it can not be easily cracked.
                                    Click on "Change Password" to make your changes valid.</h4>
                            </div>

                            <div class="row">
                                <div class="col-sm-2 m-top-20"></div>
                                <div class="col-sm-10 m-top-20">
                                    <label for="oldpassword" class="col-xs-10 control-label m-top-10"> Your old Password: </label>
                                    <div class="col-xs-8 controls m-top-10">
                                        <input
                                                ng-class="{error: edit_form.oldpassword.$dirty && edit_form.oldpassword.$invalid}"
                                                type="password"
                                                class="form-control"
                                                id="oldpassword"
                                                placeholder="Old Password"
                                                ng-model="user.oldpassword"
                                                name="oldpassword"
                                                ng-minlength="6"
                                                required ng-focus/>
                                        <div class="error-container"
                                             ng-show = "edit_form.oldpassword.$dirty && edit_form.oldpassword.$invalid && !edit_form.oldpassword.$focused">
                                            <small class="error"
                                                   ng-show="edit_form.oldpassword.$error.required">
                                                <span class = "span_error">Your old Password is required! </span>
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-2 m-top-20"></div>
                                <div class="col-sm-10 m-top-20">
                                    <label for="password" class="col-xs-10 control-label m-top-10"> Your new Password: </label>
                                    <div class="col-xs-8 controls m-top-10">
                                        <input
                                                ng-class="{error: edit_form.password.$dirty && edit_form.password.$invalid}"
                                                type="password"
                                                class="form-control"
                                                id="password"
                                                placeholder="password"
                                                ng-model="user.password"
                                                name="password"
                                                ng-minlength="6"
                                                required ng-focus/>
                                        <div class="error-container"
                                             ng-show = "edit_form.password.$dirty && edit_form.password.$invalid && !edit_form.password.$focused">
                                            <small class="error"
                                                   ng-show="edit_form.password.$error.required">
                                                <span class = "span_error">A Password is required! </span>
                                            </small>
                                            <small class="error"
                                                   ng-show="edit_form.password.$error.minlength">
                                                <span class = "span_error">Your password is required to be at least 6 characters! </span>
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-2 m-top-20"></div>
                                <div class="col-sm-10 m-top-20">
                                    <label for="Confirmationpassword" class="col-xs-10 control-label m-top-10"> Confirm your Password: </label>
                                    <div class="col-xs-8 controls m-top-10">
                                        <input
                                                ng-model="user.Confirmationpassword"
                                                ng-class="{error: edit_form.Confirmationpassword.$dirty && edit_form.Confirmationpassword.$invalid && edit_form.Confirmationpassword.$compareTo}"
                                                type="password"
                                                class="form-control"
                                                id="Confirmationpassword"
                                                placeholder="password"
                                                name="Confirmationpassword"
                                                ng-model="user.Confirmationpassword"
                                                required  compare-to = "user.password"  ng-focus/>
                                        <div class="error-container"
                                             ng-show = "edit_form.Confirmationpassword.$dirty && edit_form.Confirmationpassword.$invalid && !edit_form.Confirmationpassword.$focused && !signup_form.Confirmationpassword.$compareTo">
                                            <small class="error"
                                                   ng-show="edit_form.Confirmationpassword.$error">
                                                <span class = "span_error"> Passwords must match </span>
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row m-top-50">
                                <div class="col-xs-offset-4 col-xs-10">
                                    <button type="submit" ng-disabled="signup_form.$invalid"class="btn btn-default vd_bg-green">
                                        <span class="glyphicon glyphicon-lock"></span> Change Password
                                    </button>
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>



<!--======================= Phone Number=========================== -->


<div ng-if = "rubric == 'phoneNumber'">

    <form novalidate name="edit_form" ng-submit= "editp()">
        <div class="row clearfix heading_lightgreen">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2> Change your Phone Number</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container m-top-30">

            <div class="alert-box alert-success"  role='alert'  ng-show="success">You changed successfully your Phone Number </div>
            <div class="alert-box alert-danger"  role='alert'  ng-show="error">{{errorMessage}}</div>

            <div class="row">
                <div class="col-xs-2"> </div>
                <div class="a-box col-xs-8">
                    <div class="a-box-inner a-padding-none">
                        <ul class="a-nostyle a">

                            <div class="row">
                                <h4> You can add or change your current phone number so that you can communicate
                                    with potential fellow passengers. Click on "Change Phone Number" to make
                                    your changes valid.</h4>
                                <div class="col-sm-2 m-top-20"></div>
                                <div class="col-sm-10 m-top-20">
                                    <label class="col-xs-5 control-label m-top-10"> Your current phone number: </label>
                                    <div class="col-xs-3 controls m-top-10"> {{currentValue}} </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-2 m-top-20"></div>
                                <div class="col-sm-10 m-top-20">
                                    <label for="phoneNumber" class="col-xs-10 control-label m-top-10"> Your new Phone
                                        Number: </label>
                                    <div class="col-xs-8 controls m-top-10">
                                        <input
                                                ng-class="{error: edit_form.phoneNumber.$dirty && edit_form.phoneNumber.$invalid}"
                                                type="text"
                                                ng-pattern="/^[0-9]+$/"
                                                class="form-control"
                                                id="phoneNumber"
                                                placeholder="{{currentValue}}"
                                                ng-model="user.phoneNumber"
                                                name="phoneNumber"
                                                ng-minlength="6"
                                                ng-focus
                                                />
                                        <div class="error-container"
                                             ng-show="edit_form.phoneNumber.$dirty && edit_form.phoneNumber.$invalid && !edit_form.phoneNumber.$focused">
                                            <small class="error"
                                                   ng-show="edit_form.phoneNumber.$error.pattern">
                                                <span class = "span_error"> That is not a valid Phone Number! </span>
                                            </small>
                                            <small class="error"
                                                   ng-show="edit_form.phoneNumber.$error.minlength">
                                                <span class = "span_error"> A phone Number requires a minimum length of 6 characters!</span>
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row m-top-50">
                                <div class="col-xs-offset-4 col-xs-10">
                                    <button type="submit" ng-disabled="signup_form.$invalid" class="btn btn-default vd_bg-green">
                                        <span class="glyphicon glyphicon-phone"></span> Change Phone Number
                                    </button>
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<!--======================= Last name=========================== -->


<div ng-if = "rubric == 'lastName'">

    <form novalidate name="edit_form" ng-submit= "editln()">
        <div class="row clearfix heading_lightgreen">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2> Change your Last name</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container m-top-30">

            <div class="alert-box alert-success"  role='alert'  ng-show="success">You changed successfully your Last Name </div>
            <div class="alert-box alert-danger"  role='alert'  ng-show="error">{{errorMessage}}</div>

            <div class="row">
                <div class="col-xs-2"> </div>
                <div class="a-box col-xs-8">
                    <div class="a-box-inner a-padding-none">
                        <ul class="a-nostyle a">

                            <div class="row">
                                <h4> You can change your current last name in case of marriage or other reasons of that kind.
                                    Click on "Change Last Name" to make
                                    your changes valid.</h4>
                                <div class="col-sm-2 m-top-20"></div>
                                <div class="col-sm-10 m-top-20">
                                    <label class="col-xs-5 control-label m-top-10"> Your current Last Name: </label>
                                    <div class="col-xs-3 controls m-top-10"> {{currentValue}} </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-2 m-top-20"></div>
                                <div class="col-sm-10 m-top-20">
                                    <label for="lastName" class="col-xs-10 control-label m-top-10"> Your new Last
                                        Name: </label>

                                    <div class="col-xs-8 controls m-top-10">
                                        <input
                                                ng-class="{error: edit_form.lName.$dirty && edit_form.lName.$invalid}"
                                                type="text"
                                                ng-pattern="/^[a-zA-Z]+$/"
                                                class="form-control"
                                                id="lastName"
                                                placeholder="Last Name"
                                                ng-model="user.lastName"
                                                name="lName"
                                                ng-minlength="3"
                                                required ng-focus/>

                                        <div class="error-container"
                                             ng-show="edit_form.lName.$dirty && edit_form.lName.$invalid && !edit_form.lName.$focused">
                                            <small class="error"
                                                   ng-show="edit_form.lName.$error.required">
                                                <span class = "span_error">Your last name is required!</span>
                                            </small>
                                            <small class="error"
                                                   ng-show="edit_form.lName.$error.minlength">
                                                <span class = "span_error">Your last name is required to be at least 3 characters! </span>
                                            </small>
                                            <small class="error"
                                                   ng-show="edit_form.lName.$error.pattern">
                                                <span class = "span_error"> That is not a valid last name!</span>
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row m-top-50">
                                <div class="col-xs-offset-4 col-xs-10">
                                    <button type="submit" ng-disabled="signup_form.$invalid"
                                            class="btn btn-default vd_bg-green">
                                        <span class="glyphicon glyphicon-user"></span> Change Last Name
                                    </button>
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<!--======================= Address =========================== -->


<div ng-if="rubric == 'address'">

    <form novalidate name="edit_form" ng-submit="editad()">
        <div class="row clearfix heading_lightgreen">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2> Change your Address</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container m-top-30">

            <div class="alert-box alert-success" role='alert' ng-show="success">You changed successfully your Address</div>
            <div class="alert-box alert-danger" role='alert' ng-show="error">{{errorMessage}}</div>

            <div class="row">
                <div class="col-xs-1"></div>
                <div class="a-box col-xs-10">
                    <div class="a-box-inner a-padding-none">
                        <ul class="a-nostyle a">

                            <div class="row">
                                <h4> You can add or change your current address so that potential fellow passengers can
                                    find you easily.
                                    Click on "Change Address" to make
                                    your changes valid.</h4>
                            </div>
                            <div class="row">
                                <div class="col-xs-3 m-top-20">
                                    <label for="lastName" class="control-label m-top-10"> Your new
                                        Address: </label>
                                </div>
                                <div class="col-xs-9 m-top-20">

                                </div>
                            </div>

                            <!--======================= Street =========================== -->

                            <div class="row m-top-20">
                                <div class="col-xs-2"> </div>
                                    <label for="street" class="col-xs-2 control-label">Street</label>

                                <div class="col-xs-6">
                                    <input
                                            ng-class="{error: edit_form.street.$dirty && edit_form.street.$invalid}"
                                            type="text"
                                            class="form-control"
                                            id="street"
                                            ng-pattern="/^[a-zA-Zß ]+$/"
                                            placeholder="Street"
                                            ng-model="user.street"
                                            name="street"
                                            ng-minlength="3"
                                            ng-focus
                                            />

                                    <div class="error-container"
                                         ng-show="edit_form.street.$dirty && edit_form.street.$invalid && !edit_form.street.$focused">
                                        <small class="error"
                                               ng-show="edit_form.street.$error.minlength">
                                            <span class = "span_error"> A street requires a minimum length of 3 characters!</span>
                                        </small>
                                        <small class="error"
                                               ng-show="edit_form.street.$error.pattern">
                                            <span class = "span_error"> That is not a valid Street!</span>
                                        </small>
                                    </div>
                                </div>
                            </div>


                            <!--======================= housenumber =========================== -->
                            <div class="row m-top-20">
                                <div class="col-xs-2"> </div>
                                <label for="housenumber" class="col-xs-2 control-label">Housenumber</label>

                                    <div class="col-xs-2">
                                        <input
                                                ng-class="{error: edit_form.housenumber.$dirty && edit_form.housenumber.$invalid}"
                                                type="text"
                                                class="form-control"
                                                id="housenumber"
                                                placeholder="House number"
                                                ng-model="user.housenumber"
                                                name="housenumber"
                                                ng-maxlength="6"
                                                ng-focus
                                                />
                                        <div class="error-container"
                                             ng-show="edit_form.housenumber.$dirty && edit_form.housenumber.$invalid && !edit_form.housenumber.$focused">
                                            <small class="error"
                                                   ng-show="edit_form.housenumber.$error.maxlength">
                                                <span class = "span_error"> That is not a valid house number!</span>
                                            </small>
                                        </div>
                                    </div>
                                </div>


                            <!--======================= Postcode =========================== -->


                            <div class="row m-top-20">
                                <div class="col-xs-2"></div>
                                <label for="postcode" class="col-xs-2 control-label">Postcode</label>

                                <div class="col-xs-4">
                                    <input
                                            ng-class="{error: edit_form.postcode.$dirty && edit_form.postcode.$invalid }"
                                            type="text"
                                            class="form-control"
                                            id="postcode"
                                            placeholder="Postcode"
                                            ng-model="user.postcode"
                                            name="postcode"
                                            ng-maxlength="15"
                                            ng-minlength="3"
                                            ng-focus
                                            />
                                    <div class="error-container"
                                         ng-show="edit_form.postcode.$dirty && edit_form.postcode.$invalid && !edit_form.postcode.$focused">
                                        <small class="error"
                                               ng-show="edit_form.housenumber.$error.maxlength">
                                            <span class = "span_error"> That is not a valid postcode!</span>
                                        </small>
                                        <small class="error"
                                               ng-show="edit_form.housenumber.$error.minlength">
                                            <span class = "span_error"> That is not a valid postcode!</span>
                                        </small>
                                    </div>
                                </div>
                            </div>

                            <!--======================= City =========================== -->


                            <div class="row m-top-20">
                                <div class="col-xs-2"></div>
                                <label for="city" class="col-xs-2 control-label">City</label>

                                <div class="col-xs-4">
                                    <input
                                            ng-class="{error: edit_form.city.$dirty && edit_form.city.$invalid }"
                                            type="text"
                                            class="form-control"
                                            id="city"
                                            ng-pattern="/^[a-zA-Zß]+$/"
                                            placeholder="City"
                                            ng-model="user.city"
                                            name="city"
                                            ng-minlength="3"
                                            ng-focus
                                            />
                                    <div class="error-container"
                                         ng-show="edit_form.city.$dirty && edit_form.city.$invalid && !edit_form.city.$focused">
                                        <small class="error"
                                               ng-show="edit_form.city.$error.minlength">
                                            <span class = "span_error"> A valid city has at least 3 characters!</span>
                                        </small>
                                        <small class="error"
                                               ng-show="edit_form.city.$error.pattern">
                                            <span class = "span_error"> That is not a valid city!</span>
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <!--======================= Country =========================== -->


                            <div class="row m-top-20">
                                <div class="col-xs-2"></div>
                                <label for="country" class="col-xs-2 control-label">Country</label>

                                <div class="col-xs-2 control-label">
                                    <select  type="button"  id = "country" name = "country" class="form-control btn btn-default dropdown-toggle" data-toggle="dropdown" ng-model = "user.country"
                                             ng-options="country.name for country in countries track by country.code">>
                                        Select a Country <span class="caret"></span>
                                    </select>
                                </div>
                            </div>


                            <div class="row m-top-50">
                                <div class="col-sm-offset-5 col-xs-10">
                                    <button type="submit" ng-disabled="signup_form.$invalid"
                                            class="btn btn-default vd_bg-green">
                                        <span class="glyphicon glyphicon-user"></span> Change Address
                                    </button>
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
