<nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="headerController">
    <div class="row">
        <div class="col-md-12">

            <div class="navbar-header">
                <a href="#/" class="logo"><img src="assets/images/logo-drive2nature.png">drive2nature</a>
            </div>


            <div class="collapse navbar-collapse">


                <ul class="nav navbar-nav navbar-right navbar-user" ng-if="logedIn != null">
                    <li><img ng-src="{{logedIn.picture}}" class="img-responsive img-circle"/></li>
                    <li class="glyphicon glyphicon-envelope message_sign" ng-show = "unread"> </li>
                    <li class="glyphicon glyphicon-eye-open eye_sign" ng-show = "newRequest"></li>
                    <li class="username dropdown" dropdown on-toggle="toggled(open)">
                        <a href class="dropdown-toggle" dropdown-toggle style="padding-bottom: 6px; padding-top: 8px">
                            {{logedIn.firstName}}<br>{{logedIn.lastName}}<strong class="caret"></strong>
                        </a>
                        <ul class="dropdown-menu">

                            <li><a href="#/profile">Profile</a></li>
                            <li><a href="#/messages">Messages
                               <div class="span_error" ng-show = "unread">
                                     ({{size}} unread)
                               </div>
                            </a></li>
                            <li><a href="#/myTrips">Trips
                                <div class="span_green" ng-show = "newRequest">
                                    ({{pendingParticipants.length}} requests)
                                </div>
                            </a> </li>
                            <li class="divider"></li>
                            <li><a  ng-click="logout()">Logout</a></li>

                        </ul>

                    </li>
                </ul>


                <ul class="nav navbar-nav navbar-right" ng-if="logedIn == null">
                    <li>
                        <form class="navbar-form navbar-left login-form" action="#/login">
                            <button type="submit" class="btn btn-default btn_main"><strong>Login</strong></button>
                        </form>

                    </li>


                </ul>

                <ul class="nav navbar-nav navbar-right navbar-main-nav">

                    <li ng-class="{'active': path == '/createTrip'}"><a href="#/createTrip">Create Trip</a></li>
                    <li ng-class="{'active': path == '/showTrips'}"><a href="#/showTrips">Find Trip</a></li>
                    <li ng-class="{'active': path == '/proposeTrip'}"><a href="#/proposeTrip">Propose Trip</a></li>

                    <li class="dropdown"
                        ng-class="{'active': path == '/about' || path == '/imprint' || path == '/contact'}" dropdown
                        on-toggle="toggled(open)">
                        <a href class="dropdown-toggle" dropdown-toggle>
                            About<strong class="caret"></strong>
                        </a>

                        <ul class="dropdown-menu">

                            <li><a href="#/about">The idea of drive2nature</a></li>
                            <li><a href="#/imprint">Imprint</a></li>
                            <li><a href="#/contact">Contact us</a></li>

                        </ul>
                    </li>
                </ul>

                <p class="sign-up"  ng-if="logedIn == null">
                    <a href="#/user">>> Sign up</a>
                </p>
            </div>
        </div>
    </div>
</nav>
