<header ng-include="template.header"></header>
<!-- neu
<div ng-include="template.breadcrumbs"></div>
<div ng-controller="homeController"></div>
-->
<div class="row">
    <carousel interval="myInterval">
        <slide ng-repeat="slide in slides" active="slide.active">
            <img ng-src="{{slide.image}}">

            <div class="carousel-caption">

                <form name="request_form">
                    <div class="row">
                        <div class="col-xs-4">
                            <input type="text"
                                   class="form-control"
                                   id="startLocation"
                                   name="startLocation"
                                   placeholder="start location"
                                   ng-model="startLocation"
                                  >
                        </div>
                        <div class="col-xs-4">
                            <input type="text"
                                   class="form-control"
                                   id="targetLocation"
                                   name="targetLocation"
                                   placeholder="target location"
                                   ng-model="targetLocation"
                                   ng-focus>
                        </div>
                        <div class="col-xs-4">
                            <p class="input-group">
                                <input
                                        ng-class="{error: request_form.departureDate.$dirty && request_form.departureDate.$invalid}"
                                        type="text"
                                        datepicker-popup="{{format}}"
                                        is-open="Opened"
                                        datepicker-options="dateOptions" show-button-bar="true"
                                        date-disabled="disabled(date, mode)"
                                        datepicker-localdate
                                        class="form-control"
                                        id="departureDate"
                                        placeholder="date"
                                        ng-model="date"
                                        name="departureDate"
                                        required/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default"
                                    ng-click="Opened=true;$event.stopPropagation();">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                            </p>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-xs-offset-5 col-xs-2  btn btn-xs vd_bg-green m-top-5">
                            <a href="#/showTrips/{{startLocation}}/{{targetLocation}}/{{date}}" class="edit_links"><i
                                    class="glyphicon glyphicon-search"> Search</i></a>
                        </div>
                    </div>
                </form>
                <div class="row m-top-50">
                    <div class="col-md-12">
                        <h1>Find a ride in the easiest way</h1>
                    </div>
                </div>
            </div>

        </slide>
    </carousel>
</div>


<!-- SECOND HEADLINE: die schwarze Box unter dem Bild -->

<div class="row clearfix box_black subline">
    <div class="container">
        <h2>Plan your next trip with drive2nature!</h2>
    </div>


</div>


<div class="row clearfix box_lightgreen p-20">
    <!--Create Trip-->
    <div class="container">
        <div class="row">
            <div class="col-md-4 column">

                <div class="text-center">

                    <h2><span class="glyphicon glyphicon-road" aria-hidden="true"></span> Create Trip</h2>

                </div>

                <p class="text-justify">Looking for fellow passengers to accompany you on your ride to a specific
                    location?
                    Here you can create a short description of the trip you plan to undertake. Specifications
                    of your car, the number of seats available, the price and the kind of luggage that can be
                    transported in your car need to be added. In addition you set the time and date for your trip
                    and possible pick-up spots. Deciding whether you would like to do a group activity and the option
                    to add personal remarks will help you in attracting like-minded people or possibly future
                    friends.</p>

                <a href="#/createTrip">
                    <button type="button" class="btn btn-lg btn-primary btn_main"><strong>Create now</strong></button>
                </a>

            </div>

            <!--Find Tip-->
            <div class="col-md-4 column">

                <div class="text-center">

                    <h2><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Find Trip</h2>

                </div>
                <p class="text-justify">
                    Looking for a ride to a specific location? Here you can search through the trips offered by other
                    users either by start location, target location or date.
                    The detailed trip
                    descriptions, personal remarks of the driver and access to his/her rating will help you in finding
                    the
                    perfect ride to your dream destination and possibly marks the starting point of new
                    friendships. </br></br></br>
                    </br>

                </p>

                <a href="#/showTrips">
                    <button type="button" class="btn btn-primary btn-lg btn_main"><strong>Find now</strong></button>
                </a>

            </div>

            <!--Propose Trip-->
            <div class="col-md-4 column">

                <div class="text-center">

                    <h2><span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span> Propose Trip</h2>

                </div>
                <p class="text-justify">
                    Do you have a great idea for an interesting trip but do not own a car and there is no suitable trip
                    in
                    our data base? Are you looking for inspiration in finding new locations? Here you can either propose
                    a
                    trip by describing your idea and the activity you plan to do. In addition it is possible to search
                    through
                    the suggestions and to join an idea. If enough users are interested but none of them owns a car, it
                    is
                    possible
                    to team up and rent a car via one of our partner sites with special conditions. </p>

                <a href="#/proposeTrip">
                    <button type="button" class="btn btn-primary btn-lg btn_main"><strong>Propose now</strong></button>
                </a>

            </div>
        </div>
    </div>
</div>


<!--Trust Feld-->
<div class="row clearfix">

    <div class="container">
        <div class="row">
            <div class="col-md-12 column p-20">

                <h3><strong>TRUST</strong> - the most important in car pooling</h3>

                <div class="row clearfix">

                    <div class="col-md-8 column">

                        <p class="text-justify">Entering the car of a stranger or letting strangers enter your car
                            requires a lot of trust
                            in the persons you will cooperate with. This is something drive2nature was concerned about
                            right from the beginning of the platform. We understand and believe that the quality of the
                            service we provide to our users strongly depends on the level of trust among them and
                            towards
                            our company. In order to establish a feeling of trust and liability we have created a rating
                            system. Here you can evaluate the other users after a common trip by rating several crucial
                            attributes and add personal remarks. These ratings will be visible to other users and can
                            help
                            them to assess the trustworthiness of a specific user. In addition if users continuously
                            receive
                            low ratings they will be banned from using the platform. </p>
                    </div>

                    <div class="col-md-4 column pl-7">

                        <img class="img-rounded img-responsive img-transformed" alt=""
                             src="assets/images/evaluation.png"/>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Feedback-Boxen What others say-->
<div class="row clearfix box_lightgreen">

    <div class="container">
        <div class="row">
            <div class="col-md-12 column p-20">

                <h3><strong>What others say about us</strong></h3>

                <div class="row clearfix">
                    <!--Kommentar 1-->
                    <div class="col-md-4 column">

                        <div class="pd_lg">

                            <blockquote>

                                <p class="cite_fs"><i>A great opportunity to travel on a low budget and still get
                                    to see awesome locations!</i></p>

                                <small><cite>Sebastian Friedl, M&uuml;nchen</cite></small>

                            </blockquote>
                        </div>

                        <div class="text-center">
                            <img class="img-circle" alt="Picture Comment 1" src="assets/images/user1.jpg"/>
                        </div>
                    </div>

                    <!--Kommentar 2-->
                    <div class="col-md-4 column">

                        <div class="pd_lg">

                            <blockquote>

                                <p class="cite_fs"><i>Meeting interesting people while enjoing nature's beauty, what
                                    more
                                    could
                                    you ask for?</i></p>

                                <small><cite>Helene Mayer, Augsburg</cite></small>

                            </blockquote>
                        </div>

                        <div class="text-center">
                            <img class="img-circle" alt="Picture Comment 2" src="assets/images/user2.jpg"/>
                        </div>
                    </div>

                    <!--Kommentar 3-->
                    <div class="col-md-4 column">

                        <div class="pd_lg">

                            <blockquote>

                                <p class="cite_fs"><i>If you love nature, drive2nature is the perfect choice for you.
                                    I highly recommend it!</i></p>

                                <small><cite>Stefan Huber, M&uuml;nchen</cite></small>

                            </blockquote>
                        </div>

                        <div class="text-center">
                            <img class="img-circle" alt="Picture Comment 3" src="assets/images/user3.jpg"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
