<header ng-include="template.header"></header>
<div ng-include="template.breadcrumbs"></div>

<div class="row clearfix box_lightgreen">
    <div class="col-sm-12">
        <div class="container">
            <h1> Imprint</h1>

            <br style="padding-left: 30px">
                Responsible for the drive2nature platform:</br>
                <strong>drive2nature GmbH</br>Leopoldstr. 20 </br> 80802 Munich </br> Germany </strong></br></br>
                Represented by the executive board: </br>
            <strong>Johannes Muhr, Philipp Pickel, Felix Maier, Nico Goellner </strong></br></br>
            Commercial Register: <strong>Amtsgericht Munich HRB Munich 126748 </strong> </br> </br>
            Tax ID Number: <strong>DE208891227 </strong></br></br>
            Copyright: <strong>Copyright 2015 drive2nature GmbH. All rights reserved.</strong></br></br>
            Warranty: <strong>drive2nature GmbH does not take any responsibility for the content created by external parties </br>
            nor for the content provided by links to external party webpages.</strong></br>


            </br>


        </div>
    </div>
</div>