<header ng-include="template.header"></header>
<div ng-include="template.breadcrumbs"></div>

<div class="container">
    <h1>Login</h1>


    <div ng-show="user != null">

        <h3>To the start page
            <form action="/">
                <input type="submit" class="btn btn-default" value="Go to Startpage">
            </form>
        </h3>
    </div>


    <div ng-show="user == null" class="container">
        <div class="alert-box alert-error span_error" role='alert' ng-show="error">{{errorMessage}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <label for="username" class="col-xs-2 control-label">Username</label>

                <div class="col-xs-10">
                    <input type="text" class="form-control" id="username" placeholder="Username"
                           ng-model="cred.username">
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-xs-2 control-label">Password</label>

                <div class="col-xs-10">
                    <input type="password" class="form-control" id="password" placeholder="Password"
                           ng-model="cred.password">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-xs-10">
                    <button type="submit" class="btn vd_bg-green edit_links" ng-click="login()">
                        <span class="glyphicon glyphicon-plus"></span> Login
                    </button>
                </div>
            </div>
        </form>
    </div>

</div>