<header ng-include="template.header"></header>
<div ng-include="template.breadcrumbs"></div>


<div class="row clearfix heading_lightgreen">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Your Messages</h2>
            </div>
        </div>
    </div>
</div>
<div class="container">

    <div class="col-sm-12">
        <div ng-show="unread">
            <h3> You have {{size}} unread Message(s)! </h3>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="alert-box alert-success" role='alert' ng-show="successM">
            <h3> Your Message could be sent successfully</h3>
        </div>
        <div class="alert-box alert-danger" role='alert' ng-show=" errorD || errorM"><h3>
            {{errorMessage}}</h3>
        </div>
    </div>

    <tabset justified="true">
        <tab>
            <tab-heading>
                <i class="glyphicon glyphicon-envelope"> Received Messages </i>
            </tab-heading>

            <div class="row">
                <div class="col-sm-12">
                    <accordion close-others="true">
                        <div ng-repeat="receivedMessage in receivedMessages">
                            <accordion-group ng-show="{{receivedMessage.isRead}} == false" class="panel-red"
                                             id="{{receivedMessage.id}}">
                                <accordion-heading>
                                <span ng-click="readMessage(receivedMessage.id, receivedMessage.isRead)">
                                    <div class="row">
                                        <div class="col-md-5">
                                            {{receivedMessage.subject}}
                                        </div>
                                        <div class="col-md-4">
                                            from {{receivedMessage.sender.firstName}}
                                            {{receivedMessage.sender.lastName}}
                                        </div>
                                        <div class="col-md-3">
                                            {{receivedMessage.timestamp | date : 'medium'}}
                                        </div>
                                    </div>
                                </span>
                                </accordion-heading>
                                <button class=" col-sm-offset-11 btn btn-default vd_bg-red"
                                        ng-click="deleteMessage(receivedMessage.id)">Delete
                                </button>
                                <p ng-bind-html="receivedMessage.text"></p>

                                <p>

                                <div class="col-sm-10">
                                <textarea class="message" placeholder="Answer {{receivedMessage.sender.firstName}}..."
                                          ng-model="message.text"></textarea>
                                </div>
                                <button class="col-sm-offset-9 btn btn-default vd_bg-green"
                                        ng-click="sendMessage(receivedMessage.sender.id)">Send
                                </button>

                                </p>
                            </accordion-group>

                            <accordion-group ng-show="{{receivedMessage.isRead}} == true" class="panel-default">
                                <accordion-heading>
                                <span is-open="receivedMessage.open = true">
                                    <div class="row">
                                        <div class="col-md-5">
                                            {{receivedMessage.subject}}
                                        </div>
                                        <div class="col-md-4">
                                            from <a href="#/profilePublic/{{receivedMessage.sender.id}}">
                                            {{receivedMessage.sender.firstName}}
                                            {{receivedMessage.sender.lastName}}</a>
                                        </div>
                                        <div class="col-md-3">
                                            {{receivedMessage.timestamp | date : 'medium'}}
                                        </div>
                                    </div>
                                </span>
                                </accordion-heading>
                                <button class=" col-sm-offset-11 btn btn-default vd_bg-red"
                                        ng-click="deleteMessage(receivedMessage.id)">Delete
                                </button>

                                <p ng-bind-html="receivedMessage.text"></p>

                                <p>

                                <div class="col-sm-10">

                                <textarea class="message" placeholder="Answer {{receivedMessage.sender.firstName}}..."
                                          ng-model="message.text"></textarea>

                                </div>

                                <button class="col-sm-offset-9 btn btn-default vd_bg-green"
                                        ng-click="sendMessage(receivedMessage.sender.id)">Send
                                </button>

                                </p>
                            </accordion-group>
                        </div>
                    </accordion>
                </div>
            </div>
        </tab>


        <!-- ============================Sent Messages ===================-->
        <tab>
            <tab-heading>
                <i class="glyphicon glyphicon-pencil"> Sent Messages </i>
            </tab-heading>
            <div class="row">
                <div class="col-sm-12">
                    <accordion close-others="true">
                        <accordion-group ng-repeat="writtenMessage in writtenMessages">
                            <accordion-heading>
                                <div class="row">
                                    <div class="col-md-5">
                                        {{writtenMessage.subject}}
                                    </div>
                                    <div class="col-md-4">
                                        to
                                        <a href="#/profilePublic/{{writtenMessage.receiver.id}}">
                                            {{writtenMessage.receiver.firstName}} {{writtenMessage.receiver.lastName}}
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        {{writtenMessage.timestamp | date : 'medium'}}
                                    </div>
                                </div>
                            </accordion-heading>
                            <button class=" col-sm-offset-11 btn btn-default vd_bg-red"
                                    ng-click="deleteMessage(writtenMessage.id)">Delete
                            </button>
                            <p ng-bind-html="writtenMessage.text"></p>
                        </accordion-group>
                    </accordion>
                </div>
            </div>
        </tab>
    </tabset>
</div>