<header ng-include="template.header"></header>
<div ng-include="template.breadcrumbs"></div>

<div class="row clearfix heading_lightgreen">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Your Trips</h2>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="container">
        <div class="col-sm-12">
            <tabset justified="true">
                <tab>
                    <tab-heading>
                        Created Trips
                    </tab-heading>
                    <div ng-repeat="trip in createdTrips">
                        <div class="row border_bottom">
                            <div class="col-sm-12">
                                    <h2><a href="#/trip/{{trip.id}}">{{trip.title}} on {{trip.routes[0].departureDate |
                                        date
                                        : 'fullDate'}}
                                        <li class="glyphicon glyphicon-eye-open span_green"
                                            style="padding-left: 1cm" ng-show="trip.size > 1 && trip.tripParticipant[1].role == 'pending' ||
                                                trip.tripParticipant[2].role == 'pending' || trip.tripParticipant[3].role == 'pending' ||
                                                trip.tripParticipant[4].role == 'pending' || trip.tripParticipant[5].role == 'pending' ||
                                                trip.tripParticipant[6].role == 'pending' || trip.tripParticipant[7].role == 'pending' ||
                                                 trip.tripParticipant[8].role == 'pending'"> </li>
                                <div ng-show="trip.onlyProposed"><span
                                        class="proposed-green"> (Trip is only proposed) </span>
                                </div>
                                </a></h2>
                                <hr/>
                            </div>
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-md-5">
                                        <i> Journey There</i>
                                    </div>
                                    <div ng-show = "!trip.onlyProposed" class="col-md-7">
                                        <i> Journey Back </i>
                                    </div>
                                </div>
                                <div class="col-md-offset-1 col-md-5 m-top-10">
                                    <p><strong>Departure:</strong> {{trip.routes[0].startLocation}}</p>

                                    <p><strong>Target:</strong> {{trip.routes[0].targetLocation}}</p>

                                    <p><strong>Date&Time:</strong> {{trip.routes[0].departureDate | date :
                                        'mediumDate'}}
                                        {{trip.routes[0].departureTime | date: 'shortTime'}}</p>
                                </div>
                                <div class="col-md-5 m-top-10">

                                    <p ng-show="!trip.onlyProposed"><strong>Departure:</strong>{{trip.routes[1].startLocation}}
                                    </p>



                                    <p ng-show="!trip.onlyProposed"><strong>Target:</strong>{{trip.routes[1].targetLocation}}
                                    </p>


                                    <p ng-show="!trip.onlyProposed"><strong>Date&Time:</strong>
                                        {{trip.routes[1].departureDate | date :
                                        'mediumDate'}}
                                        {{trip.routes[1].departureTime | date: 'shortTime'}}
                                    </p>

                                </div>
                            </div>
                            <div class=" col-sm-12 p-20">
                                    <div class="col-xs-3" ng-show="trip.size > 1 && trip.tripParticipant[1].role == 'pending' ||
                                trip.tripParticipant[2].role == 'pending' || trip.tripParticipant[3].role == 'pending' ||
                                trip.tripParticipant[4].role == 'pending' || trip.tripParticipant[5].role == 'pending' ||
                                trip.tripParticipant[6].role == 'pending' || trip.tripParticipant[7].role == 'pending' ||
                                trip.tripParticipant[8].role == 'pending'">
                                        <div>
                                            <strong><a href="#/confirmParticipation/{{trip.id}}" class="link-green">Confirm
                                                Participation
                                                Requests...</a></strong>
                                        </div>

                                     </div>
                                <div ng-show = "!trip.onlyProposed" class="col-xs-offset-9  btn vd_btn btn-xs vd_bg-green">
                                    <a href="#/editTrip/{{trip.id}}" class="edit_links"><i
                                            class="glyphicon glyphicon-pencil"> Edit </i></a>
                                </div>
                                <div ng-show = "trip.onlyProposed" class="col-xs-offset-9  btn vd_btn btn-xs vd_bg-green">
                                    <a href="#/editProposedTrip/{{trip.id}}" class="edit_links"><i
                                            class="glyphicon glyphicon-pencil"> Edit </i></a>
                                </div>
                                <div class="col-xs  btn vd_btn btn-xs vd_bg-red">
                                    <a href="#/deleteTrip/{{trip.id}}" class="edit_links"><i
                                            class="glyphicon glyphicon-trash"> Delete </i></a>
                                </div>
                                <div ng-show = "trip.onlyProposed" class="col-xs  btn vd_btn btn-xs vd_bg-green">
                                    <a href="#/editTrip/{{trip.id}}" class="edit_links"><i
                                            class="glyphicon glyphicon-check"> Make a trip! </i></a>
                                </div>
                            </div>

                        </div>
                    </div>
                </tab>

                <tab ng-click="participating()">
                    <tab-heading>
                        Participating Trips
                    </tab-heading>
                    <div ng-repeat="trip in participatingTrips">
                        <div class="row border_bottom">
                            <div class="col-sm-12">
                                <h2><a href="#/trip/{{trip.id}}">{{trip.title}} on {{trip.routes[0].departureDate | date
                                    : 'fullDate'}} </a></h2>
                                <hr/>
                            </div>
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-md-5">
                                        <i> Journey There</i>
                                    </div>
                                    <div class="col-md-7">
                                        <i> Journey Back </i>
                                    </div>
                                </div>
                                <div class="col-md-offset-1 col-md-5 m-top-10">
                                    <p><strong>Departure:</strong> {{trip.routes[0].startLocation}}</p>

                                    <p><strong>Target:</strong> {{trip.routes[0].targetLocation}}</p>

                                    <p><strong>Date&Time:</strong> {{trip.routes[0].departureDate | date :
                                        'mediumDate'}}
                                        {{trip.routes[0].departureTime | date: 'shortTime'}}</p>
                                </div>
                                <div class="col-md-5 m-top-10">

                                    <p><strong>Departure:</strong> {{trip.routes[1].startLocation}}</p>

                                    <p><strong>Target:</strong> {{trip.routes[1].targetLocation}}</p>

                                    <p><strong>Date&Time:</strong> {{trip.routes[1].departureDate | date :
                                        'mediumDate'}}
                                        {{trip.routes[1].departureTime | date: 'shortTime'}}</p>
                                </div>
                            </div>
                            <div class="p-20">
                                <strong><a href="#/cancelTrip/{{trip.id}}" class="link-green">
                                    Cancel your participation...
                                </a></strong>
                            </div>
                        </div>
                    </div>
                </tab>

                <tab ng-click="past()">
                    <tab-heading>
                        Past Trips
                    </tab-heading>
                    <div ng-repeat="trip in pastTrips">
                        <div class="row border_bottom">
                            <div class="col-sm-12">
                                <h2><a href="#/trip/{{trip.id}}"> {{trip.title}} on {{trip.routes[0].departureDate |
                                    date : 'fullDate'}} </a></h2>
                                <hr/>
                            </div>
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-md-5">
                                        <i> Journey There</i>
                                    </div>
                                    <div class="col-md-7">
                                        <i> Journey Back </i>
                                    </div>
                                </div>
                                <div class="col-md-offset-1 col-md-5 m-top-10">
                                    <p><strong>Departure:</strong> {{trip.routes[0].startLocation}}</p>

                                    <p><strong>Target:</strong> {{trip.routes[0].targetLocation}}</p>

                                    <p><strong>Date&Time:</strong> {{trip.routes[0].departureDate | date :
                                        'mediumDate'}}
                                        {{trip.routes[0].departureTime | date: 'shortTime'}}</p>
                                </div>
                                <div class="col-md-5 m-top-10">
                                    <p><strong>Departure:</strong> {{trip.routes[1].startLocation}}</p>

                                    <p><strong>Target:</strong> {{trip.routes[1].targetLocation}}</p>

                                    <p><strong>Date&Time:</strong> {{trip.routes[1].departureDate | date :
                                        'mediumDate'}}
                                        {{trip.routes[1].departureTime | date: 'shortTime'}}</p>
                                </div>
                            </div>
                            <div class="p-20">
                                <strong><a href="#/rate/{{trip.id}}" class="link-green">
                                    Rate Participants...
                                </a></strong>
                            </div>
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</div>