<header ng-include="template.header"></header>
<div ng-include="template.breadcrumbs"></div>

<div class="row clearfix heading_lightgreen">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2> {{user.firstName}} {{user.lastName}}</h2>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="alert-box alert-success" role='alert' ng-show="successM">
        <h3> Your message was sent successfully</h3>
    </div>
    <div class="alert-box alert-danger" role='alert' ng-show="errorM"><h3> {{errorMessage}}</h3>
    </div>

    <tabset justified="true">
        <tab>
            <tab-heading>
                <i class="glyphicon glyphicon-user"> Profile </i>
            </tab-heading>

            <div class="container m-top-30">


                <h2 class="aboutProfile m-top-30">
                    <i class="glyphicon glyphicon-user">
                    </i>
                    About
                </h2>


                <div class="container m-top-30">
                    <div class="row">
                        <div class="col-sm-2">
                            <div ng-if="user.picture == '' || user.picture == null">
                                <img src="assets/images/defaultImage.png" class="img-rounded"/>
                            </div>
                            <div ng-if="user.picture != '' && user.picture != null">
                                <img ng-src="{{user.picture}}" class="img-rounded img-user"/>
                            </div>
                        </div>

                        <div class="col-sm-10">
                                <textarea class="message" placeholder="Write {{user.firstName}} a message..."
                                          ng-model="message.text"></textarea>
                        </div>
                        <button class="col-sm-offset-9 btn btn-default vd_bg-green" ng-disabled="currentUser == user.id"
                                ng-click="sendMessage()">Send
                        </button>

                    </div>
                    <div class="row m-top-30">
                        <div class="col-sm-6">
                            <label class="col-xs-5 control-label "> First Name: </label>

                            <div class="col-xs-7 controls"> {{user.firstName}}</div>
                        </div>

                        <div class="col-sm-6">
                            <label class="col-xs-5 control-label"> Last Name: </label>

                            <div class="col-xs-7 controls"> {{user.lastName}}</div>
                        </div>

                        <div class="col-sm-6">
                            <label class="col-xs-5 control-label m-top-10"> User Name: </label>

                            <div class="col-xs-7 controls m-top-10"> {{user.username}}</div>
                        </div>

                        <div class="col-sm-6">
                            <label class="col-xs-5 control-label m-top-10"> Age: </label>

                            <div class="col-xs-7 controls m-top-10"> {{calculateAge(user.birthday)}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container m-top-30">
                <h2 class="aboutProfile m-top-30">
                    <i class="glyphicon glyphicon-map-marker">
                    </i>
                    Address
                </h2>

                <div class="container m-top-30">
                    <div class="row m-top-30">
                        <div class="col-sm-6">
                            <label class="col-xs-5 control-label m-top-10"> City: </label>

                            <div class="col-xs-7 controls m-top-10"> {{user.address.city}}</div>
                        </div>
                        <div class="col-sm-6">
                            <label class="col-xs-5 control-label m-top-10 "> Postcode: </label>

                            <div class="col-xs-7 controls m-top-10"> {{user.address.postcode}}</div>
                        </div>
                        <div class="col-sm-6">
                            <label class="col-xs-5 control-label m-top-10 "> Country: </label>

                            <div class="col-xs-7 controls m-top-10"> {{user.address.country}}</div>
                        </div>
                    </div>
                </div>
                <div class="aboutProfile m-top-30" ng-show="currentUser == user.id">
                    <a href="#/profile/{{user.id}}">Back to your private profile!</a>
                </div>
            </div>
        </tab>

        <!--======================== Received Ratings =======================-->
        <tab>
            <tab-heading>
                <i class="glyphicon glyphicon-star"> Ratings </i>
            </tab-heading>

            <div class="container m-top-30">

                <h2 class="aboutProfile m-top-30">
                    <i class="glyphicon glyphicon-thumbs-up">
                        Received Ratings
                    </i>
                </h2>

                <div class="container">

                    <div class="row" ng-hide="errorA">
                        <div class="col-xs-1"></div>
                        <div class="a-box-green col-xs-10">
                            <h3> {{user.firstName}}'s average Rating out of {{receivedRatings.length}} Ratings </h3>

                            <div class="a-box-inner a-padding-none">
                                <div class="row">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-3">
                                        <p><strong>Punctuality:</strong></p>

                                        <p><strong>Kindness:</strong></p>

                                        <p><strong>Reliability:</strong></p>

                                        <p ng-if="averages[3][0] == 'drivingSafety'"><strong>Driving Safety:</strong>
                                        </p>

                                        <p><strong>Overall Satisfaction:</strong></p>
                                    </div>
                                    <div class="col-md-5" ng-repeat="average in averages">
                                        <p>
                                            <rating ng-model="average[1]" max="max" readonly="isReadonly"></rating>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row m-top-10">

                        <div ng-repeat="receivedRating in receivedRatings" class="border_bottom p-10">

                            <h3 class="m-top-10"> {{receivedRating.routes[0].departureDate | date : 'fullDate'}}</h3>

                            <div class="col-xs-12 m-top-30">
                                <div class="col-md-3">
                                    <div ng-if="receivedRating.evaluator.user.picture == ''">
                                        <img src="assets/images/defaultImage.png" class="img-rounded"/>
                                    </div>
                                    <div ng-if="receivedRating.evaluator.user.picture != ''">
                                        <img ng-src="{{receivedRating.evaluator.user.picture}}"
                                             class="img-rounded img-user"/>
                                    </div>

                                    <p> Username:
                                        {{receivedRating.evaluator.user.username}}</p>

                                    <p>Role: {{receivedRating.evaluator.role}}</p>
                                </div>
                                <div class="col-md-9">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p> <h4> Received Rating: </h4></p>
                                        </div>
                                        <div class="col-md-6">
                                            <p><h4>Key Facts about the Trip:</h4></p>
                                        </div>
                                    </div>
                                    <div class="row m-top-20">

                                        <div class="col-md-3">

                                            <p><strong>Punctuality:</strong></p>

                                            <p><strong>Kindness:</strong></p>

                                            <p><strong>Reliability:</strong></p>

                                            <p ng-if="receivedRating.receiver.role == 'driver'"><strong>Driving
                                                Safety:</strong></p>

                                            <p><strong>Overall Satisfaction:</strong></p>
                                        </div>

                                        <div class="col-md-3">

                                            <p>
                                                <rating ng-model="receivedRating.attribute[0].stars"
                                                        max="max" readonly="isReadonly"></rating>
                                            </p>
                                            <p>
                                                <rating ng-model="receivedRating.attribute[1].stars"
                                                        max="max" readonly="isReadonly"></rating>
                                            </p>
                                            <p>
                                                <rating ng-model="receivedRating.attribute[2].stars"
                                                        max="max" readonly="isReadonly"></rating>
                                            </p>
                                            <p ng-if="receivedRating.receiver.role == 'driver'">
                                                <rating ng-model="receivedRating.attribute[3].stars"
                                                        max="max" readonly="isReadonly"></rating>
                                            </p>
                                            <p ng-if="receivedRating.receiver.role == 'driver'">
                                                <rating ng-model="receivedRating.attribute[4].stars"
                                                        max="max" readonly="isReadonly"></rating>
                                            </p>

                                            <p ng-if="receivedRating.receiver.role != 'driver'">

                                            </p>

                                            <p ng-if="receivedRating.receiver.role != 'driver'">
                                                <rating ng-model="receivedRating.attribute[3].stars"
                                                        max="max" readonly="isReadonly"></rating>
                                            </p>
                                        </div>
                                        <div class="col-md-6">
                                            <p><strong> Title: </strong> {{receivedRating.evaluator.trip.title}} </p>

                                            <p><strong>Date:</strong> {{receivedRating.routes[0].departureDate | date: 'longDate'}}</p>

                                            <p><strong> Departure: </strong>
                                                {{receivedRating.routes[0].startLocation}}</p>

                                            <p><strong> Target: </strong>
                                                {{receivedRating.routes[0].targetLocation}}</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-10 p-20">
                                <h4>Remarks about {{user.firstName}}: </h4>
                                <ul> {{receivedRating.remark}}</ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="container">

                <div class="alert-box alert-danger" role='alert' ng-show="errorA">
                    <h2> {{errorMessage}} </h2>
                </div>
            </div>
        </tab>
    </tabset>
</div>