<header ng-include="template.header"></header>
<div ng-include="template.breadcrumbs"></div>

<div class="row clearfix heading_lightgreen">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2> Hallo {{user.firstName}} {{user.lastName}}</h2>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <tabset justified="true">
        <tab>
            <tab-heading>
                <i class="glyphicon glyphicon-user"> Profile </i>
            </tab-heading>

            <div class="container m-top-30">


                <h2 class="aboutProfile m-top-30">
                    <i class="glyphicon glyphicon-user">
                    </i>
                    About
                </h2>


                <div class="container m-top-30">
                    <div class="row">
                        <div class="col-sm-2">
                            <img class="img-rounded img-user" ng-src="{{user.picture}}">
                        </div>
                    </div>
                    <div class="row m-top-30">
                        <div class="col-sm-6">
                            <label class="col-xs-5 control-label "> First Name: </label>

                            <div class="col-xs-7 controls"> {{user.firstName}}</div>
                        </div>

                        <div class="col-sm-6">
                            <label class="col-xs-5 control-label"> Last Name: </label>

                            <div class="col-xs-7 controls"> {{user.lastName}}</div>
                        </div>

                        <div class="col-sm-6">
                            <label class="col-xs-5 control-label m-top-10"> User Name: </label>

                            <div class="col-xs-7 controls m-top-10"> {{user.username}}</div>
                        </div>

                        <div class="col-sm-6">
                            <label class="col-xs-5 control-label m-top-10"> Email: </label>

                            <div class="col-xs-7 controls m-top-10"> {{user.mail}}</div>
                        </div>

                        <div class="col-sm-6">
                            <label class="col-xs-5 control-label m-top-10"> Date of Birth: </label>

                            <div class="col-xs-7 controls m-top-10"> {{user.birthday| date: 'longDate'}}</div>
                        </div>
                        <div class="col-sm-6">
                            <label class="col-xs-5 control-label m-top-10"> Phone Number: </label>

                            <div class="col-xs-7 controls m-top-10"> {{user.phoneNumber}}</div>
                        </div>
                    </div>
                </div>

                <h2 class="aboutProfile m-top-30">
                    <i class="glyphicon glyphicon-map-marker">
                    </i>
                    Address
                </h2>

                <div class="container m-top-30">
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="col-xs-5 control-label "> Street: </label>

                            <div class="col-xs-7 controls"> {{user.address.street}}</div>
                        </div>
                        <div class="col-sm-6">
                            <label class="col-xs-5 control-label"> Housenumber: </label>

                            <div class="col-xs-7 controls"> {{user.address.housenumber}}</div>
                        </div>

                        <div class="col-sm-6">
                            <label class="col-xs-5 control-label m-top-10 "> Postcode: </label>

                            <div class="col-xs-7 controls m-top-10"> {{user.address.postcode}}</div>
                        </div>
                        <div class="col-sm-6">
                            <label class="col-xs-5 control-label m-top-10"> City: </label>

                            <div class="col-xs-7 controls m-top-10"> {{user.address.city}}</div>
                        </div>
                        <div class="col-sm-6">
                            <label class="col-xs-5 control-label m-top-10 "> Country: </label>

                            <div class="col-xs-7 controls m-top-10"> {{user.address.country}}</div>
                        </div>
                    </div>
                </div>

                <div class="aboutProfile m-top-30">
                    <a href="#/profilePublic/{{user.id}}">Take a look at your public profile!</a>
                </div>
            </div>

        </tab>


        <!--======================== Received Ratings =======================-->

        <tab>
            <tab-heading>
                <i class="glyphicon glyphicon-star"> Received Ratings </i>
            </tab-heading>

            <div class="container m-top-30">

                <h2 class="aboutProfile m-top-30">
                    <i class="glyphicon glyphicon-star-empty">
                        Your Received Ratings
                    </i>
                </h2>


                <div class="container">

                    <div class="row" ng-show="successA">
                        <div class="col-xs-1"></div>
                        <div class="a-box-green col-xs-10">
                            <h3> Your average Rating out of {{receivedRatings.length}} Ratings </h3>

                            <div class="a-box-inner a-padding-none">
                                <div class="row">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-3">
                                        <p><strong>Punctuality:</strong></p>

                                        <p><strong>Kindness:</strong></p>

                                        <p><strong>Reliability:</strong></p>

                                        <p ng-if="ratings[3][0] == 'drivingSafety'"><strong>Driving Safety:</strong></p>

                                        <p><strong>Overall Satisfaction:</strong></p>
                                    </div>

                                    <div class="col-md-5" ng-repeat="rating in ratings">
                                        <p>
                                            <rating ng-model="rating[1]" max="max" readonly="isReadonly"></rating>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row m-top-10">

                        <div ng-repeat="receivedRating in receivedRatings" class="border_bottom p-10">

                            <h3 class="m-top-10"> {{receivedRating.routes[0].departureDate | date : 'fullDate'}}</h3>

                            <div class="col-xs-12 m-top-30">
                                <div class="col-md-3">
                                    <div ng-if="receivedRating.evaluator.user.picture == ''">
                                        <img src="assets/images/defaultImage.png" class="img-rounded"/>
                                    </div>
                                    <div ng-if="receivedRating.evaluator.user.picture != ''">
                                        <img ng-src="{{receivedRating.evaluator.user.picture}}"
                                             class="img-rounded img-user"/>
                                    </div>
                                    <p><a href="#/profilePublic/{{receivedRating.evaluator.user.id}}">
                                        <strong> {{receivedRating.evaluator.user.firstName}}
                                            {{receivedRating.evaluator.user.lastName}} </strong></a></p>

                                    <p>Role: {{receivedRating.evaluator.role}}</p>
                                </div>
                                <div class="col-md-9">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p> <h4> Your received Rating: </h4></p>
                                        </div>
                                        <div class="col-md-6">
                                            <p><h4>Key Facts about the Trip:</h4></p>
                                        </div>
                                    </div>
                                    <div class="row m-top-20">

                                        <div class="col-md-3">

                                            <p><strong>Punctuality:</strong></p>

                                            <p><strong>Kindness:</strong></p>

                                            <p><strong>Reliability:</strong></p>

                                            <p ng-if="receivedRating.receiver.role == 'driver'"><strong>Driving
                                                Safety:</strong></p>

                                            <p><strong>Overall Satisfaction:</strong></p>
                                        </div>

                                        <div class="col-md-3">

                                            <p>
                                                <rating ng-model="receivedRating.attribute[0].stars"
                                                        max="max" readonly="isReadonly"></rating>
                                            </p>
                                            <p>
                                                <rating ng-model="receivedRating.attribute[1].stars"
                                                        max="max" readonly="isReadonly"></rating>
                                            </p>
                                            <p>
                                                <rating ng-model="receivedRating.attribute[2].stars"
                                                        max="max" readonly="isReadonly"></rating>
                                            </p>

                                            <p ng-if="receivedRating.receiver.role == 'driver'">
                                                <rating ng-model="receivedRating.attribute[3].stars"
                                                        max="max" readonly="isReadonly"></rating>
                                            </p>
                                            <p ng-if="receivedRating.receiver.role == 'driver'">
                                                <rating ng-model="receivedRating.attribute[4].stars"
                                                        max="max" readonly="isReadonly"></rating>
                                            </p>

                                            <p ng-if="receivedRating.receiver.role != 'driver'">
                                            </p>

                                            <p ng-if="receivedRating.receiver.role != 'driver'">
                                                <rating ng-model="receivedRating.attribute[3].stars"
                                                        max="max" readonly="isReadonly"></rating>
                                            </p>
                                        </div>
                                        <div class="col-md-6">
                                            <p><strong> Title: </strong> {{receivedRating.evaluator.trip.title}} </p>

                                            <p><strong>Date:</strong> {{receivedRating.routes[0].departureDate | date: 'longDate'}}</p>

                                            <p><strong> Target: </strong>
                                                {{receivedRating.routes[0].targetLocation}}</p>

                                            <p><strong>Costs:</strong> {{receivedRating.evaluator.trip.costs}}€</p>

                                            <p><strong> Trip Passenger(s):</strong>

                                            <div ng-repeat="tp in receivedRating.fellowPassenger">
                                                {{tp.firstName}}
                                                {{tp.lastName}}
                                            </div>
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-10 p-20">
                                <h4>Remarks about you: </h4>
                                <ul> {{receivedRating.remark}}</ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">

                    <div class="alert-box alert-danger" role='alert' ng-show="errorR">
                        <h2> {{errorMessage}} </h2>
                    </div>
                </div>
            </div>

        </tab>


        <!--========================Submitted Ratings=======================-->

        <tab>
            <tab-heading>
                <i class="glyphicon glyphicon-thumbs-up"> Submitted Ratings </i>
            </tab-heading>

            <div class="container m-top-30">

                <h2 class="aboutProfile m-top-30">
                    <i class="glyphicon glyphicon-thumbs-up">
                        Your Submitted Ratings
                    </i>
                </h2>


                <div class="container">


                    <div class="row m-top-10">

                        <div ng-repeat="submittedRating in submittedRatings" class="border_bottom p-10">

                            <h3 class="m-top-10"> {{submittedRating.routes[0].departureDate | date : 'fullDate'}}</h3>

                            <div class="col-xs-12 m-top-30">
                                <div class="col-md-3">
                                    <div ng-if="submittedRating.receiver.user.picture == ''">
                                        <img src="assets/images/defaultImage.png" class="img-rounded"/>
                                    </div>
                                    <div ng-if="submittedRating.receiver.user.picture != ''">
                                        <img ng-src="{{submittedRating.receiver.user.picture}}"
                                             class="img-rounded img-user"/>
                                    </div>
                                    <p><a href="#/profilePublic/{{submittedRating.receiver.user.id}}">
                                        <strong> {{submittedRating.receiver.user.firstName}}
                                            {{submittedRating.receiver.user.lastName}} </strong></a></p>

                                    <p>Role: {{submittedRating.receiver.role}}</p>
                                </div>
                                <div class="col-md-9">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p> <h4> Your submitted Rating: </h4></p>
                                        </div>
                                        <div class="col-md-6">
                                            <p><h4>Key Facts about the Trip:</h4></p>
                                        </div>
                                    </div>
                                    <div class="row m-top-20">

                                        <div class="col-md-3">

                                            <p><strong>Punctuality:</strong></p>

                                            <p><strong>Kindness:</strong></p>

                                            <p><strong>Reliability:</strong></p>

                                            <p ng-if="submittedRating.receiver.role == 'driver'"><strong>Driving
                                                Safety:</strong></p>

                                            <p><strong>Overall Satisfaction:</strong></p>
                                        </div>

                                        <div class="col-md-3">

                                            <p>
                                                <rating ng-model="submittedRating.attribute[0].stars"
                                                        max="max" readonly="isReadonly"></rating>
                                            </p>
                                            <p>
                                                <rating ng-model="submittedRating.attribute[1].stars"
                                                        max="max" readonly="isReadonly"></rating>
                                            </p>
                                            <p>
                                                <rating ng-model="submittedRating.attribute[2].stars"
                                                        max="max" readonly="isReadonly"></rating>
                                            </p>
                                            <p ng-if="submittedRating.receiver.role == 'driver'">
                                                <rating ng-model="submittedRating.attribute[3].stars"
                                                        max="max" readonly="isReadonly"></rating>
                                            </p>
                                            <p ng-if="submittedRating.receiver.role == 'driver'">
                                                <rating ng-model="submittedRating.attribute[4].stars"
                                                        max="max" readonly="isReadonly"></rating>
                                            </p>

                                            <p ng-if="submittedRating.receiver.role != 'driver'">
                                            </p>

                                            <p ng-if="submittedRating.receiver.role != 'driver'">
                                                <rating ng-model="submittedRating.attribute[3].stars"
                                                        max="max" readonly="isReadonly"></rating>
                                            </p>
                                        </div>
                                        <div class="col-md-6">
                                            <p><strong> Title: </strong> {{submittedRating.evaluator.trip.title}} </p>

                                            <p><strong>Date:</strong> {{submittedRating.routes[0].departureDate | date: 'longDate'}}</p>

                                            <p><strong> Target: </strong>
                                                {{submittedRating.routes[0].targetLocation}}</p>

                                            <p><strong>Costs:</strong> {{submittedRating.evaluator.trip.costs}}€</p>


                                            <p><strong> Futher Passenger(s):</strong>

                                            <div ng-repeat="tp in submittedRating.fellowPassenger">
                                                {{tp.firstName}}
                                                {{tp.lastName}}
                                            </div>

                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-10 p-20">
                                <h4>Remarks about {{submittedRating.receiver.user.firstName}}
                                    {{submittedRating.receiver.user.lastName}}: </h4>
                                <ul> {{submittedRating.remark}}</ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">

                    <div class="alert-box alert-danger" role='alert' ng-show="errorS">
                        <h2> {{errorMessage}} </h2>
                    </div>
                </div>
            </div>
        </tab>
        <!--==========================Settings=====================-->

        <tab>
            <tab-heading>
                <i class="glyphicon glyphicon-cog"> Settings </i>
            </tab-heading>

            <div class="container m-top-30">


                <h2 class="aboutProfile m-top-30">
                    <i class="glyphicon glyphicon-edit">
                    </i>
                    Edit your Profile
                </h2>
            </div>

            <div class="container m-top-30">

                <div class="row">
                    <div class=" a-box col-xs-12">
                        <div class="a-box-inner a-padding-none">
                            <ul class="a-nostyle a">

                                <div class="row m-top-20">
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-10">
                                        <label class="col-xs-3 control-label m-top-10"> Picture: </label>

                                        <div class="col-xs-5 controls m-top-10"> Change your current picture</div>
                                        <div class="col-xs  btn vd_btn btn-xs vd_bg-green m-top-5">
                                            <a href="#/edit/picture" class="edit_links"><i
                                                    class="glyphicon glyphicon-edit"> Edit</i></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-10">
                                        <label class="col-xs-3 control-label m-top-30"> Email: </label>

                                        <div class="col-xs-5 controls m-top-30"> {{user.mail}}</div>
                                        <div class="col-xs  btn vd_btn btn-xs vd_bg-green m-top-20">
                                            <a href="#/edit/mail/{{user.mail}}" class="edit_links"><i
                                                    class="glyphicon glyphicon-edit"> Edit</i></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-10">
                                        <label class="col-xs-3 control-label m-top-30"> Password: </label>

                                        <div class="col-xs-5 controls m-top-30"> ************</div>
                                        <div class="col-xs  btn vd_btn btn-xs vd_bg-green m-top-20">
                                            <a href="#/edit/password/" class="edit_links"><i
                                                    class="glyphicon glyphicon-edit"> Edit</i></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-10">
                                        <label class="col-xs-3 control-label m-top-30"> Phone number: </label>

                                        <div class="col-xs-5 controls m-top-30"> {{user.phoneNumber}}</div>
                                        <div class="col-xs  btn vd_btn btn-xs vd_bg-green m-top-20">
                                            <a href="#/edit/phoneNumber/{{user.phoneNumber}}" class="edit_links"><i
                                                    class="glyphicon glyphicon-edit"> Edit</i></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-10">
                                        <label class="col-xs-3 control-label m-top-30"> Last name: </label>

                                        <div class="col-xs-5 controls m-top-30"> {{user.lastName}}</div>
                                        <div class="col-xs  btn vd_btn btn-xs vd_bg-green m-top-20">
                                            <a href="#/edit/lastName/{{user.lastName}}" class="edit_links"><i
                                                    class="glyphicon glyphicon-edit"> Edit</i></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="row  m-top-30">
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-10">
                                        <label class="col-xs-3 control-label"> Address: </label>

                                        <div class="col-xs-5 controls">
                                            <p> {{user.address.street}} {{user.address.housenumber}}</p>

                                            <p> {{user.address.postcode}} {{user.address.city}}</p>

                                            <p>{{user.address.country}}</p>
                                        </div>
                                        <div class="col-xs  btn vd_btn btn-xs vd_bg-green">
                                            <a href="#/edit/address/{{user.address}}" class="edit_links"><i
                                                    class="glyphicon glyphicon-edit"> Edit</i></a>
                                        </div>
                                    </div>
                                </div>

                                <!--    <div class="col-sm-4  m-top-30">
                                        <div class="col-xs  btn vd_btn btn-xs vd_bg-green">
                                            <a href="#/edit/address/{{user.address}}" class="edit_links"><i class="glyphicon glyphicon-edit"> Edit</i></a>
                                        </div>
                                    </div> -->


                                <div class="row m-top-20">
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-10">
                                        <label class="col-xs-3 control-label m-top-30"> Delete your Account... </label>

                                        <div class="col-xs-5 controls m-top-30"></div>
                                        <div class="col-xs  btn vd_btn btn-xs vd_bg-red m-top-20">
                                            <a href="#/deleteAccount" class="edit_links"><i
                                                    class="glyphicon glyphicon-trash"> Delete </i></a>
                                        </div>
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </tab>
    </tabset>

</div>
