<header ng-include="template.header"></header>
<div ng-include="template.breadcrumbs"></div>

<div class="row clearfix heading_lightgreen">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 style="float: left">Propose a trip!</h2>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="col-md-12">

            <div class="progress">
                <div class="progress-bar"
                     ng-class="{'progress-bar-success': step > 1 , 'progress-bar-active': step == 1}" role="progressbar"
                     style="width: 33.33%">
                    Headline
                </div>
                <div class="progress-bar"
                     ng-class="{'progress-bar-success': step > 2 , 'progress-bar-active': step == 2, 'progress-bar-warning': step < 2}"
                     role="progressbar" style="width:33.33%">
                    Specification
                </div>
                <div class="progress-bar"
                     ng-class="{'progress-bar-success': step > 3 , 'progress-bar-active': step == 3, 'progress-bar-warning': step < 3}"
                     role="progressbar" style="width:33.33%">
                    Summary
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <button ng-show="step > 1 && step < 4" ng-click="prev()" class="btn btn-default btn_main">Previous</button>
            <button ng-show="step < 3" ng-click="next()" class="btn btn-default btn_main" style="float:right;">Next
            </button>
            <button ng-show="step == 3" ng-click="confirmStep()" class="btn btn-default vd_bg-green"
                    ng-disabled="signup_form.$invalid" style="float: right;">Confirm
            </button>
        </div>
    </div>
</div>

<form class="form-horizontal" name="signup_form" novalidate ng-submit="save">

    <div ng-show="step==1">

        <div class="container">

            <h1>Headline</h1>

            <div class="form-group row">
                <label for="title" class="col-xs-2 control-label">Short Title*:</label>

                <div class="col-xs-10">
                    <input
                            ng-class="{error: signup_form.title.$dirty && signup_form.title.$invalid}"
                            type="text"
                            class="form-control"
                            id="title"
                            placeholder="e.g. Skiing in Ski Resort Grosser Arber"
                            ng-model="trip.title"
                            name="title"
                            ng-minlength="3"
                            required ng-focus/>

                    <div class="error-container"
                         ng-show="signup_form.title.$dirty && signup_form.title.$invalid && !signup_form.title.$focused">
                        <small class="error"
                               ng-show="signup_form.title.$error.required">
                            <span class="span_error">A Short Title is required! <br/> </span>
                        </small>
                        <small class="error"
                               ng-show="signup_form.title.$error.minlength">
                            <span class="span_error">Your Short Title is required to be at least 3 characters! <br/></span>
                        </small>
                    </div>
                </div>
            </div>


            <div class="form-group row">
                <label for="startLocation1" class="col-xs-2 control-label">Departure*:</label>

                <div class="col-xs-10">
                    <input
                            ng-class="{error: signup_form.startLocation1.$dirty && signup_form.startLocation1.$invalid}"
                            type="text"
                            class="form-control"
                            id="startLocation1"
                            placeholder="start location (e.g. Munich)"
                            ng-model="trip.startLocation1"
                            name="startLocation1"
                            ng-minlength="3"
                            required ng-focus/>

                    <div class="error-container"
                         ng-show="signup_form.startLocation1.$dirty && signup_form.startLocation1.$invalid && !signup_form.startLocation1.$focused">
                        <small class="error"
                               ng-show="signup_form.startLocation1.$error.required">
                            <span class="span_error">Departure is required! <br/> </span>
                        </small>
                        <small class="error"
                               ng-show="signup_form.startLocation1.$error.minlength">
                            <span class="span_error">Departure is required to be at least 3 characters! <br/></span>
                        </small>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="targetLocation1" class="col-xs-2 control-label">Target*:</label>

                <div class="col-xs-10">
                    <input
                            ng-class="{error: signup_form.targetLocation1.$dirty && signup_form.targetLocation1.$invalid}"
                            type="text"
                            class="form-control"
                            id="targetLocation1"
                            placeholder="target location (e.g. Garmisch)"
                            ng-model="trip.targetLocation1"
                            name="targetLocation1"
                            ng-minlength="3"
                            required ng-focus/>

                    <div class="error-container"
                         ng-show="signup_form.targetLocation1.$dirty && signup_form.targetLocation1.$invalid && !signup_form.targetLocation1.$focused">
                        <small class="error"
                               ng-show="signup_form.targetLocation1.$error.required">
                            <span class="span_error">Target is required! <br/> </span>
                        </small>
                        <small class="error"
                               ng-show="signup_form.targetLocation1.$error.minlength">
                            <span class="span_error">Target is required to be at least 3 characters! <br/></span>
                        </small>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="departureDate1" class="col-xs-2 control-label">Date Proposal*:</label>

                <div class="col-xs-3">
                    <p class="input-group">
                        <input
                                ng-class="{error: signup_form.departureDate1.$dirty && signup_form.departureDate1.$invalid}"
                                type="text"
                                datepicker-popup="{{format}}"
                                is-open="Opened"
                                ng-click="Opened=true"
                                datepicker-options="dateOptions" show-button-bar="false"
                                date-disabled="disabled(date, mode)"
                                datepicker-localdate
                                class="form-control"
                                id="departureDate1"
                                placeholder="date"
                                ng-model="trip.departureDate1"
                                name="departureDate1"
                                required />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="Opened=true;$event.stopPropagation();">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </p>
                    <div class="error-container"
                         ng-show="signup_form.departureDate1.$dirty && signup_form.departureDate1.$invalid && !signup_form.departureDate1.$focused">
                        <small class="error"
                               ng-show="signup_form.departureDate1.$error.required">
                            <span class="span_error">Date is required!! <br/> </span>
                        </small>
                    </div>
                </div>
            </div>

        </div>


        <div class="row clearfix heading_lightgreen">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 style="float: left">Popular Places to go:</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <p style="float: right">Advertising
                <br>
                <a href="http://www.area47.at/"><img src="assets/images/Area47.png"/></a></p>

            <div>
                <br>
                <b>1. AREA 47</b>
                <br>
                <button>read user comments <span class="glyphicon glyphicon-comment"></span></button>
            </div>
            <div>
                <br>
                <b>2. Zugspitze</b>
                <br>
                <button>read user comments <span class="glyphicon glyphicon-comment"></span></button>
            </div>
            <div>
                <br>
                <b>3. Herzogstand</b>
                <br>
                <button>read user comments <span class="glyphicon glyphicon-comment"></span></button>
            </div>


        </div>



    </div>

    <div ng-show="step==2">

        <div class="container">

            <h1>Specification</h1>


            <div class="form-group">
                <label for="groupActivity" class="col-xs-2 control-label">Group Activity:
                    <span class="glyphicon glyphicon-info-sign" data-toggle="popover" aria-hidden="true"
                          title="Group Activity means that doing the activity together in group is requested."></span>
                </label>

                <div class="col-xs-10">
                    <input
                            ng-class="{error: signup_form.groupActivity.$dirty && signup_form.groupActivity.$invalid}"
                            type="checkbox"
                            id="groupActivity"
                            ng-model="trip.groupActivity"
                            name="groupActivity"
                            />
                </div>
            </div>

            <div class="form-group">
                <label for="intention" class="col-xs-2 control-label">Describe your Intention:</label>

                <div class="col-xs-10">
            <textarea
                    class="form-control"
                    id="intention"
                    placeholder="What is your intention?"
                    ng-model="trip.intention"
                    name="intention">
            </textarea>
                </div>
            </div>


            <div class="row clearfix heading_lightgreen">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2 style="float: left">Drive with our partners!</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <p><a href="https://de.drive-now.com/"><img src="assets/images/drive know.png" style="float: left"/></a>
                </p>

                <p><a href="http://www.sixt.de/"><img src="assets/images/sixt.png" style="float: right"/></a></p>
            </div>

        </div>



    </div>

    <div ng-show="step==3">

        <div class="row clearfix alert-danger" ng-show="signup_form.$invalid">
            <div class="error-container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2>For Confirmation please fill out all required fields! Following fields are missing:</h2>
                        <h4 ng-show="signup_form.title.$invalid">Short Title</h4>
                        <h4 ng-show="signup_form.startLocation1.$invalid">Departure</h4>
                        <h4 ng-show="signup_form.targetLocation1.$invalid">Target</h4>
                        <h4 ng-show="signup_form.departureDate1.$invalid">Date Proposal</h4>
                        <button ng-click="jumpTo(1)">edit <span class="glyphicon glyphicon-pencil"> </span></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">

            <h1>Summary</h1>
            <div class="col-sm-12">

                <h4>headline</h4>
                <hr class="headline"/>
                <button class="col-sm-offset-11 btn btn-default vd_bg-green-small" ng-click="jumpTo(1)">edit
                    <span class="glyphicon glyphicon-pencil"> </span></button>
                <div class="col-md-offset-2 col-md-5 m-bot-10">
                    <p><strong>Short Title*:</strong> {{trip.title}} </p>
                    <p><strong>Departure*:</strong> {{trip.startLocation1}} </p>
                    <p><strong>Target*:</strong> {{trip.targetLocation1}} </p>
                    <p><strong>Date Proposal*:</strong> {{trip.departureDate1}} </p>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="col-md-1"></div>
                <h4 class="m-top-20">Specification</h4>
                <hr class="headline"/>
                <button class="col-sm-offset-11 btn btn-default vd_bg-green-small" ng-click="jumpTo(2)">edit
                    <span class="glyphicon glyphicon-pencil"> </span></button>
                <div class="col-md-offset-2 col-md-5 m-bot-10">
                    <p><div ng-show="trip.groupActivity"><b>Group activity :</b> Group activity is desired </div></p>
                    <p> <div ng-show="!trip.groupActivity"><b>Group activity :</b> Group activity is not desired </div></p>

                    <p><strong>Intention:</strong> {{trip.intention}}</p>
                </div>
             </div>
        </div>
    </div>

    <div ng-show="step==4">
    <div class="container">

        <div class="alert-box alert-success" role='alert' ng-show="success">
            <h2>You proposed successfully your trip</h2>
            <a href="#/">
                <button class="btn btn-default">Go to the Startpage</button>
            </a>
        </div>
        <div class="alert-box alert-error" role='alert' ng-show="error"><b>Your trip could not be proposed. Please
            try again!</b>
        </div>
        <div class="white-space-step5"></div>
    </div>



    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <br>
                <button ng-show="step > 1 && step < 4" ng-click="prev()" class="btn btn-default btn_main">Previous</button>
                <button ng-show="step < 3" ng-click="next()" class="btn btn-default btn_main" style="float:right;">Next
                </button>
                <button ng-show="step == 3" ng-click="confirmStep()" class="btn btn-default vd_bg-green"
                        ng-disabled="signup_form.$invalid" style="float: right;">Confirm
                </button>
            </div>
        </div>
    </div>
</form>