<header ng-include="template.header"></header>
<div ng-include="template.breadcrumbs"></div>

<div class="row clearfix heading_lightgreen">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Rate your experience!</h2>
            </div>
        </div>
    </div>
</div>

<div class="alert alert-success" role='alert' ng-show="success">Your rating was sucessfully saved.</div>

<div class="row">
    <div class="container">

        <div class="alert-box alert-danger" role='alert' ng-if="participants.length < 1">
            <h2>You have already rated all your fellow passengers.</h2>
        </div>

        <div ng-repeat="participant in participants" ng-if="participants.length > 0">
            <div class="row m-top-10 border_bottom" ng-if="participant.id != -1">
                <div class="col-md-3">
                    <div ng-if="participant.user.picture == ''">
                        <img src="assets/images/defaultImage.png" class="img-rounded"/>
                    </div>
                    <div ng-if="participant.user.picture != ''">
                        <img ng-src="{{participant.user.picture}}" class="img-rounded img-user"/>
                    </div>

                    <p><a href="#/profilePublic/{{participant.user.id}}">{{participant.user.firstName}}
                        {{participant.user.lastName}}</a></p>

                    <p><strong>Role:</strong> {{participant.role}}</p>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-4">
                            <p><strong>Trip:</strong> {{participant.trip.title}}</p>
                        </div>
                        <div class="col-md-4">
                            <p><strong>Target:</strong> {{participant.routes[0].targetLocation}}</p>
                        </div>
                        <div class="col-md-4">
                            <p><strong>Date:</strong> {{participant.routes[0].departureDate | date : 'mediumDate'}}</p>
                        </div>
                    </div>
                    <div class="row m-top-10">
                        <div class="col-md-offset-2">
                            <div class="row">
                                <div class="col-md-4">
                                    <p>Punctuality:</p>

                                    <p>Kindness:</p>

                                    <p>Reliability:</p>

                                    <p ng-if="participant.role == 'driver'">Driving Safety:</p>

                                    <p>Overall Satisfaction:</p>
                                </div>
                                <div class="col-md-8">
                                    <p>
                                        <rating ng-model="rate[participant.id].punctuality" max="max"
                                                on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
                                    </p>
                                    <p>
                                        <rating ng-model="rate[participant.id].kindness" max="max"
                                                on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
                                    </p>
                                    <p>
                                        <rating ng-model="rate[participant.id].reliability" max="max"
                                                on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
                                    </p>
                                    <p ng-if="participant.role == 'driver'">
                                        <rating ng-model="rate[participant.id].drivingSafety" max="max"
                                                on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
                                    </p>
                                    <p>
                                        <rating ng-model="rate[participant.id].overallSatisfaction" max="max"
                                                on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10 p-20">
                        <textarea placeholder="Your remarks" class="remarks"
                                  ng-model="rate[participant.id].remarks"></textarea>
                    </div>
                    <div class="col-md-2 pl-7 m-top-30">
                        <button class="btn vd_bg-green edit_links" ng-click="confirm(participant.id)">Confirm</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>