<header ng-include="template.header"></header>
<div ng-include="template.breadcrumbs"></div>


<div class="row clearfix heading_lightgreen">
    <div class="container">
        <div class="row">
            <div class="col-sm-12" ng-show = "successAll">
                <h2> Search for specific trips by entering one or more search parameter(s) </h2>
            </div>
            <div class="col-sm-12" ng-show = "size > 0 && relatedSize > 0 && !successAll">
                <h2> We found {{size}} matching trip(s) and {{relatedSize}} related trip(s) for you! </h2>
            </div>
            <div class="col-sm-12" ng-show = "size > 0 && relatedSize == 0 && !successAll">
                <h2> We found {{size}} matching trip(s) for you! </h2>
            </div>
            <div class="col-sm-12" ng-show = "size == 0 && relatedSize > 0 && !successAll">
                <h2> We unfortunately found no matching trip for you! But we have {{relatedSize}} related trip(s) for you! </h2>
            </div>
            <div class="col-sm-12" ng-show = "size == 0 && relatedSize == 0 && !successAll">
                <h2> We unfortunately found no trip for you. Try it again with other search parameters </h2>
            </div>
        </div>
        <form class="row" name="request_form">
            <div class="col-sm-4">
                <input type="text"
                       class="form-control"
                       id="startLocation"
                       name="startLocation"
                       placeholder="Start Location"
                       ng-model="departure"
                       ng-focus
                       >
            </div>
            <div class="col-sm-4">
                <input type="text"
                       class="form-control"
                       id="targetLocation"
                       name="targetLocation"
                       placeholder="Target Location"
                       ng-model="target"
                       ng-focus>
            </div>
            <div class="col-sm-3">
                <p class="input-group">
                    <input
                            ng-class="{error: request_form.departureDate.$dirty && request_form.departureDate.$invalid}"
                            type="text"
                            datepicker-popup="{{format}}"
                            datepicker-options="dateOptions"
                            is-open="Opened"
                            show-button-bar="true"
                            date-disabled="disabled(date, mode)"
                            datepicker-localdate
                            class="form-control"
                            id="departureDate"
                            placeholder="date"
                            ng-model="date"
                            name="departureDate"
                            required/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default"
                                    ng-click="Opened=true;$event.stopPropagation();">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                </p>
            </div>
            <div class="col-sm-1  btn vd_btn  vd_bg-green">
                <a href="#/showTrips/{{departure}}/{{target}}/{{date}}" class="edit_links"><i
                        class="glyphicon glyphicon-search"> Search</i></a>
            </div>
        </form>
    </div>
</div>

<div class="container">
    <div class="alert-box alert-danger"  role='alert'  ng-show="error">
        <h2> {{errorMessage}} </h2>
    </div>
</div>

<div class="row">
    <div ng-repeat="trip in trips" class="border_bottom p-10">
        <div class="container" ng-show = "trip.onlyProposed == false">
            <div class="row">
                <div class="col-sm-12">
                    <h2>{{trip.routes[0].departureDate | date : 'fullDate'}}</h2>
                    <hr/>
                    <h4>headline</h4>
                    <hr class="headline"/>
                    <div class="col-md-offset-2 col-md-5 m-bot-10">
                        <p><strong>Title:</strong> {{trip.title}}</p>

                        <p><strong>Likely Costs:</strong> {{trip.costs}} €</p>
                    </div>
                </div>
                <div class="col-sm-12">
                    <h4 class="m-top-20">journey</h4>
                    <hr class="headline"/>
                    <div class="row">
                        <div class="col-md-offset-1 col-md-5">
                           <i> Journey There</i>
                        </div>
                        <div class="col-md-5">
                          <i>  Journey Back </i>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-5 m-top-10">
                        <p><strong>Departure:</strong> {{trip.routes[0].startLocation}}</p>

                        <p><strong>Target:</strong> {{trip.routes[0].targetLocation}}</p>

                        <p><strong>Date&Time:</strong> {{trip.routes[0].departureDate | date : 'fullDate'}};
                            {{trip.routes[0].departureTime | date: 'shortTime'}}</p>

                        <p ng-show="trip.routes[0].isSequelRoute"><strong>Stopover:</strong> A stopover would be possible</p>
                        <p ng-show="!trip.routes[0].isSequelRoute"><strong>Stopover:</strong> Unfortunately a stopover is not possible</p>
                    </div>
                    <div class="col-md-5 m-top-10">
                        <p><strong>Departure:</strong> {{trip.routes[1].startLocation}}</p>

                        <p><strong>Target:</strong> {{trip.routes[1].targetLocation}}</p>

                        <p><strong>Date&Time:</strong> {{trip.routes[1].departureDate | date : 'fullDate'}};
                            {{trip.routes[1].departureTime | date: 'shortTime'}}</p>

                        <p ng-show="trip.routes[1].isSequelRoute"><strong>Stopover:</strong> A stopover would be possible</p>
                        <p ng-show="!trip.routes[1].isSequelRoute"><strong>Stopover:</strong> Unfortunately a stopover is not possible</p>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-md-1"></div>
                    <h4 class="m-top-20">car characteristics</h4>
                    <hr class="headline"/>
                    <div class="col-md-offset-2">
                        <p><strong>Available Seats:</strong> {{trip.routes[0].availableSeats}}</p>

                        <p><strong>Car Type:</strong> {{trip.routes[0].carType}}</p>
                    </div>
                    <div class="p-20">
                        <strong><a href="#/trip/{{trip.id}}" class="link-green">>> See more details...</a></strong>
                    </div>
                </div>
            </div>
        </div>
        <!--- ===================Only Proposed Trips===================-->
        <div class="container" ng-show = "trip.onlyProposed == true">
            <div class="row">
                <div class="col-sm-12">
                    <h2> {{trip.routes[0].departureDate | date : 'fullDate'}}
                        <span class="proposed-green"> (Trip is only proposed) </span> </h2>
                    <h4>headline</h4>

                    <hr class="headline"/>
                    <div class="col-md-offset-2 col-md-5 m-bot-10">
                        <p><strong>Title:</strong> {{trip.title}}</p>

                        <p><strong>Intention:</strong> {{trip.intention}} </p>
                    </div>
                </div>
                <div class="col-sm-12">
                    <h4 class="m-top-20">journey</h4>
                    <hr class="headline"/>
                    <div class="row">
                        <div class="col-md-offset-1 col-md-5">
                            <i> Journey There</i>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-5 m-top-10">
                        <p><strong>Departure:</strong> {{trip.routes[0].startLocation}}</p>

                        <p><strong>Target:</strong> {{trip.routes[0].targetLocation}}</p>

                        <p><strong>Date&Time:</strong> {{trip.routes[0].departureDate | date : 'fullDate'}} </p>

                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="p-20">
                        <strong><a href="#/trip/{{trip.id}}" class="link-green">>> See more details...</a></strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--- ===================Related Trips===================-->
<div class="row clearfix heading_lightgreen" ng-show="relatedSize > 0 && size > 0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2> Related Trips </h2>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div ng-repeat="relatedTrip in relatedTrips" class="border_bottom p-10">
        <div class="container">
            <div ng-show = "relatedTrip.onlyProposed == false">
            <div class="row">
                <div class="col-sm-12">
                    <h2>{{relatedTrip.routes[0].departureDate | date : 'fullDate'}}</h2>
                    <hr/>
                    <h4>headline</h4>
                    <hr class="headline"/>
                    <div class="col-md-offset-2 col-md-5 m-bot-10">
                        <p><strong>Title:</strong> {{relatedTrip.title}}</p>

                        <p><strong>Likely Costs:</strong> {{relatedTrip.costs}} €</p>
                    </div>
                </div>
                <div class="col-sm-12">
                    <h4 class="m-top-20">journey</h4>
                    <hr class="headline"/>
                    <div class="row">
                        <div class="col-md-offset-1 col-md-5">
                            <i> Journey There</i>
                        </div>
                        <div class="col-md-5">
                            <i>  Journey Back </i>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-5 m-top-10">
                        <p><strong>Departure:</strong> {{relatedTrip.routes[0].startLocation}}</p>

                        <p><strong>Target:</strong> {{relatedTrip.routes[0].targetLocation}}</p>

                        <p><strong>Date&Time:</strong> {{relatedTrip.routes[0].departureDate | date : 'fullDate'}}
                            {{relatedTrip.routes[0].departureTime | date: 'shortTime'}}</p>

                        <p ng-show="relatedTrip.routes[0].isSequelRoute"><strong>Stopover:</strong> A stopover would be possible</p>
                        <p ng-show="!relatedTrip.routes[0].isSequelRoute"><strong>Stopover:</strong> Unfortunately a stopover is not possible</p>
                    </div>
                    <div class="col-md-5 m-top-10">
                        <p><strong>Departure:</strong> {{relatedTrip.routes[1].startLocation}}</p>

                        <p><strong>Target:</strong> {{relatedTrip.routes[1].targetLocation}}</p>

                        <p><strong>Date&Time:</strong> {{relatedTrip.routes[1].departureDate | date : 'fullDate'}};
                            {{relatedTrip.routes[1].departureTime | date: 'shortTime'}}</p>

                        <p ng-show="relatedTrip.routes[1].isSequelRoute"><strong>Stopover:</strong> A stopover would be possible</p>
                        <p ng-show="!relatedTrip.routes[1].isSequelRoute"><strong>Stopover:</strong> Unfortunately a stopover is not possible</p>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-md-1"></div>
                    <h4 class="m-top-20">car characteristics</h4>
                    <hr class="headline"/>
                    <div class="col-md-offset-2">
                        <p><strong>Available Seats:</strong> {{relatedTrip.routes[0].availableSeats}}</p>

                        <p><strong>Car Type:</strong> {{relatedTrip.routes[0].carType}}</p>
                    </div>
                    <div class="p-20">
                        <strong><a href="#/trip/{{relatedTrip.id}}" class="link-green">>> See more details...</a></strong>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <!--- ===================Only Proposed Related Trips===================-->
        <div class="container" ng-show = "relatedTrip.onlyProposed == true">
            <div class="row">
                <div class="col-sm-12">
                    <h2> {{relatedTrip.routes[0].departureDate | date : 'fullDate'}}
                        <span class="proposed-green"> (Trip is only proposed) </span> </h2>
                    <h4>headline</h4>

                    <hr class="headline"/>
                    <div class="col-md-offset-2 col-md-5 m-bot-10">
                        <p><strong>Title:</strong> {{relatedTrip.title}}</p>

                        <p><strong>Intention:</strong> {{relatedTrip.intention}}</p>
                    </div>
                </div>
                <div class="col-sm-12">
                    <h4 class="m-top-20">journey</h4>
                    <hr class="headline"/>
                    <div class="row">
                        <div class="col-md-offset-1 col-md-5">
                            <i> Journey There</i>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-5 m-top-10">
                        <p><strong>Departure:</strong> {{relatedTrip.routes[0].startLocation}}</p>

                        <p><strong>Target:</strong> {{relatedTrip.routes[0].targetLocation}}</p>

                        <p><strong>Date&Time:</strong> {{relatedTrip.routes[0].departureDate | date : 'fullDate'}} </p>

                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="p-20">
                        <strong><a href="#/trip/{{relatedTrip.id}}" class="link-green">>> See more details...</a></strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>