<header ng-include="template.header"></header>
<div ng-include="template.breadcrumbs"></div>

<div class="row clearfix heading_lightgreen">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Details of the Trip: {{trip.title}}</h2>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <!--- ===================Only Proposed Trips===================-->
        <div class="col-sm-12" ng-show="trip.onlyProposed">
            <div class="row clearfix alert-warning" ng-show = "!alreadyParticipating">
                <h2 style="text-align: center">This trip is only proposed. Currently no driver is available and individual agreements between potential
                    participants are possible!</h2>
            </div>
            <div class="row clearfix alert-success" ng-show = "alreadyParticipating">
                <h2 style="text-align: center">You are already participating in this trip!</h2>
            </div>

            <div class="col-sm-12">

                <h4>headline</h4>
                <hr class="headline"/>
                <div class="col-md-offset-2 col-md-5 m-bot-10">
                    <p><strong>Proposer:</strong> <a href="#/profilePublic/{{author.id}}"> {{author.firstName}} {{author.lastName}}</a></p>
                    <p><strong>Short Title:</strong> {{trip.title}} </p>
                </div>
            </div>


            <hr class="headline"/>
            <div class="col-sm-12">
                <h4 class="m-top-20">journey</h4>
                <hr class="headline"/>

                <div class="col-md-offset-2 col-md-5 m-top-10">
                    <p><strong>Departure:</strong> {{trip.routes[0].startLocation}}</p>

                    <p><strong>Target:</strong> {{trip.routes[0].targetLocation}}</p>

                    <p><strong>Date Proposal:</strong> {{trip.routes[0].departureDate | date : 'longDate'}}
                </div>

            </div>

            <div class="col-sm-12">
                <div class="col-md-1"></div>
                <h4 class="m-top-20">Specification</h4>
                <hr class="headline"/>
                <div class="col-md-offset-2 col-md-5 m-bot-10">
                    <p><div ng-show="trip.groupActivity"><b>Group activity :</b> Group activity is desired </div></p>
                    <p> <div ng-show="!trip.groupActivity"><b>Group activity :</b> Group activity is not desired </div></p>

                    <p><strong>Intention:</strong> {{trip.intention}}</p>

                </div>
            </div>
        </div>

        <!--- ===================Created Trips===================-->
        <div class="col-sm-12" ng-show="!trip.onlyProposed">
            <div class="row clearfix alert-warning" ng-show = "!alreadyParticipating">
                <h2 style="text-align: center">This trip was created by a driver. All dates are fixed!</h2>
            </div>
            <div class="row clearfix alert-success" ng-show = "alreadyParticipating">
                <h2 style="text-align: center">You are already participating in this trip!</h2>
            </div>

            <div class="col-sm-12">

                <h4>headline</h4>
                <hr class="headline"/>
                <div class="col-md-offset-2 col-md-5 m-bot-10">
                    <p><strong>Driver:</strong> <a href="#/profilePublic/{{author.id}}"> {{author.firstName}} {{author.lastName}}</a></p>
                    <p><strong>Short Title:</strong> {{trip.title}} </p>
                    <p><strong>Likely Costs:</strong> {{trip.costs}} €</p>
                </div>
            </div>


            <hr class="headline"/>
            <div class="col-sm-12">
                <h4 class="m-top-20">journey</h4>
                <hr class="headline"/>
                <div class="row">
                    <div class="col-md-offset-1 col-md-5">
                        <i> Journey There</i>
                    </div>
                    <div class="col-md-5">
                        <i>  Journey Back </i>
                    </div>
                </div>
                <div class="col-md-offset-2 col-md-5 m-top-10">
                    <p><strong>Departure:</strong> {{trip.routes[0].startLocation}}</p>

                    <p><strong>Target:</strong> {{trip.routes[0].targetLocation}}</p>

                    <p><strong>Date:</strong> {{trip.routes[0].departureDate | date : 'longDate'}}</p>

                    <p><strong>Time:</strong>  {{trip.routes[0].departureTime | date: 'shortTime'}}</p>

                    <p ng-show="trip.routes[0].isSequelRoute"><strong>Stopover:</strong> A stopover would be possible</p>
                    <p ng-show="!trip.routes[0].isSequelRoute"><strong>Stopover:</strong> Unfortunately a stopover is not possible</p>
                </div>
                <div class="col-md-5 m-top-10">
                    <p><strong>Departure:</strong> {{trip.routes[1].startLocation}}</p>

                    <p><strong>Target:</strong> {{trip.routes[1].targetLocation}}</p>

                    <p><strong>Date:</strong> {{trip.routes[1].departureDate | date : 'longDate'}}</p>

                    <p><strong>Time:</strong>  {{trip.routes[1].departureTime | date: 'shortTime'}}</p>

                    <p ng-show="trip.routes[1].isSequelRoute"><strong>Stopover:</strong> A stopover would be possible</p>
                    <p ng-show="!trip.routes[1].isSequelRoute"><strong>Stopover:</strong> Unfortunately a stopover is not possible</p>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="col-md-1"></div>
                <h4 class="m-top-20">car characteristics</h4>
                <hr class="headline"/>
                <div class="col-md-offset-2 col-md-5 m-bot-10">
                    <p><strong>Available Seats:</strong> {{trip.routes[0].availableSeats}}</p>

                    <p><strong>Car Type:</strong> {{trip.routes[0].carType}}</p>

                    <p><strong>Equipment:</strong> {{trip.routes[0].equipment}}</p>

                    <p><strong>Additional Remarks:</strong> {{trip.remarks}}</p>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="col-md-1"></div>
                <h4 class="m-top-20">Specification</h4>
                <hr class="headline"/>
                <div class="col-md-offset-2 col-md-5 m-bot-10">
                    <p><div ng-show="trip.groupActivity"><b>Group activity :</b> Group activity is desired </div></p>
                    <p> <div ng-show="!trip.groupActivity"><b>Group activity :</b> Group activity is not desired </div></p>

                    <p><strong>Intention:</strong> {{trip.intention}}</p>

                    <p><strong>Interested in:</strong> {{trip.interest}}</p>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">

            <div class="alert-box alert-success"  role='alert'  ng-show="participated">
                <h2>You requested successfully to take part in this trip.</h2>
            </div>

            <div ng-show="!trip.onlyProposed && currentUser != author.id && trip.routes[0].availableSeats > 0 && !alreadyParticipating">
            <button class="col-sm-offset-9 vd_bg-green-big"
                     ng-if="!participated && !participation" ng-click="participate()">Participate</button>
            </div>
            <div ng-show = "trip.onlyProposed && currentUser != author.id && !alreadyParticipating">
            <button class="col-sm-offset-9 vd_bg-green-big" ng-if="!participated && !participation" ng-click="participate()">Participate</button>
            </div>

            <div ng-show="participation && !participated">
                <textarea class="message" placeholder="Add some remarks" ng-model="remarks"></textarea>

                <button class="col-sm-offset-9 btn btn-default vd_bg-green-big" ng-click="confirm()">Confirm Request</button>
            </div>
        </div>
    </div>
</div>