<header ng-include="template.header"></header>
<div ng-include="template.breadcrumbs"></div>

<div class="row">
    <div class="heading_lightgreen">
        <div class="container">
            <h2>Create your drive2nature account!</h2>
        </div>
    </div>
</div>

<div class="container">


    <form class="form-horizontal" name="signup_form" novalidate ng-submit="save()">

        <div ng-show="!success">

            <h3> mandatory fields</h3>
            <hr class="dot"/>

            <!-- Create first name and secure user input -> at least 3 characters-->
            <div class="form-group">
                <label for="firstName" class="col-xs-2 control-label">First Name*</label>

                <div class="col-xs-10">
                    <input
                            ng-class="{error: signup_form.fName.$dirty && signup_form.fName.$invalid}"
                            type="text"
                            ng-pattern="/^[a-zA-Z]+$/"
                            class="form-control"
                            id="firstName"
                            placeholder="First Name"
                            ng-model="user.firstName"
                            name="fName"
                            ng-minlength="3"
                            required ng-focus/>

                    <div class="error-container"
                         ng-show="signup_form.fName.$dirty && signup_form.fName.$invalid && !signup_form.fName.$focused">
                        <small class="error"
                               ng-show="signup_form.fName.$error.required">
                            <span class="span_error">Your first name is required!  </span>
                        </small>
                        <small class="error"
                               ng-show="signup_form.fName.$error.minlength">
                            <span class="span_error">Your first name is required to be at least 3 characters! </span>
                        </small>
                        <small class="error"
                               ng-show="signup_form.fName.$error.pattern">
                            <span class="span_error"> That is not a valid first name! </span>
                        </small>
                    </div>
                </div>
            </div>

            <!-- Create  last name and secure user input -> at least 3 characters-->
            <div class="form-group">
                <label for="lastName" class="col-xs-2 control-label">Last Name*</label>

                <div class="col-xs-10">
                    <input
                            ng-class="{error: signup_form.lName.$dirty && signup_form.lName.$invalid}"
                            type="text"
                            ng-pattern="/^[a-zA-Z]+$/"
                            class="form-control"
                            id="lastName"
                            placeholder="Last Name"
                            ng-model="user.lastName"
                            name="lName"
                            ng-minlength="3"
                            required ng-focus/>

                    <div class="error-container"
                         ng-show="signup_form.lName.$dirty && signup_form.lName.$invalid && !signup_form.lName.$focused">
                        <small class="error"
                               ng-show="signup_form.lName.$error.required">
                            <span class="span_error">Your last name is required!</span>
                        </small>
                        <small class="error"
                               ng-show="signup_form.lName.$error.minlength">
                            <span class="span_error">Your last name is required to be at least 3 characters! </span>
                        </small>
                        <small class="error"
                               ng-show="signup_form.lName.$error.pattern">
                            <span class="span_error"> That is not a valid last name!</span>
                        </small>
                    </div>
                </div>
            </div>

            <!-- Create  username and secure user input -> at least 3 characters and only characters and numbers allowed
            and check whether there is already a user with this username-->
            <div class="form-group">
                <label for="username" class="col-xs-2 control-label">Username*</label>

                <div class="col-xs-10">
                    <input
                            ng-class="{error: signup_form.uName.$dirty && signup_form.uName.$invalid}"
                            type="text"
                            ng-pattern="/^[a-zA-Z0-9]+$/"
                            class="form-control"
                            id="username"
                            placeholder="Username"
                            ng-model="user.username"
                            name="uName" ng-minlength="3"
                            ensure-unique="u"
                            required ng-focus/>

                    <div class="error-container"
                         ng-show="signup_form.uName.$dirty && signup_form.uName.$invalid && !signup_form.uName.$focused">
                        <small class="error"
                               ng-show="signup_form.uName.$error.required">
                            <span class="span_error">Your username is required! </span>
                        </small>
                        <small class="error"
                               ng-show="signup_form.uName.$error.minlength">
                            <span class="span_error">Your username is required to be at least 3 characters! </span>
                        </small>
                        <small class="error"
                               ng-show="signup_form.uName.$error.pattern">
                            <span class="span_error"> That is not a valid username. No special characters are allowed </span>
                        </small>
                        <small class="error"
                               ng-show="signup_form.uName.$error.unique">
                            <span class="span_error"> That username is already taken, please try another! </span>
                        </small>
                    </div>
                </div>
            </div>

            <!-- Create email and secure user input -> check if it could be a email and whether there is already a user with this email-->
            <div class="form-group">
                <label for="mail" class="col-xs-2 control-label">Mail*</label>

                <div class="col-xs-10">
                    <input
                            ng-class="{error: signup_form.mail.$dirty && signup_form.mail.$invalid && !signup_form.uName.$focused}"
                            type="email"
                            class="form-control"
                            id="mail"
                            placeholder="Mail"
                            ng-model="user.mail"
                            name="mail"
                            ensure-unique="m"
                            required ng-focus/>

                    <div class="error-container"
                         ng-show="signup_form.mail.$dirty && signup_form.mail.$invalid&& !signup_form.mail.$focused">
                        <small class="error"
                               ng-show="signup_form.mail.$error.required">
                            <span class="span_error">A email is required! </span>
                        </small>
                        <small class="error"
                               ng-show="signup_form.mail.$error.email">
                            <span class="span_error">That is not a valid email. Please input a valid email! </span>
                        </small>
                        <small class="error"
                               ng-show="signup_form.mail.$error.unique">
                            <span class="span_error"> That mail is already taken, please login or try another! </span>
                        </small>
                    </div>
                </div>
            </div>

            <!-- Create password and secure user input -> min-length of 6-->
            <div class="form-group">
                <label for="password" class="col-xs-2 control-label">Password*</label>

                <div class="col-xs-10">
                    <input
                            ng-class="{error: signup_form.password.$dirty && signup_form.password.$invalid}"
                            type="password"
                            class="form-control"
                            id="password"
                            placeholder="password"
                            ng-model="user.password"
                            name="password"
                            ng-minlength="6"
                            required ng-focus/>

                    <div class="error-container"
                         ng-show="signup_form.password.$dirty && signup_form.password.$invalid && !signup_form.password.$focused">
                        <small class="error"
                               ng-show="signup_form.password.$error.required">
                            <span class="span_error">A Password is required! </span>
                        </small>
                        <small class="error"
                               ng-show="signup_form.password.$error.minlength">
                            <span class="span_error">Your password is required to be at least 6 characters! </span>
                        </small>
                    </div>
                </div>
            </div>

            <!-- Confirmation password to check the previous password-->
            <div class="form-group">
                <label for="Confirmationpassword" class="col-xs-2 control-label">Password Confirmation*</label>

                <div class="col-xs-10">
                    <input
                            ng-model="user.Confirmationpassword"
                            ng-class="{error: signup_form.Confirmationpassword.$dirty && signup_form.Confirmationpassword.$invalid && signup_form.Confirmationpassword.$compareTo}"
                            type="password"
                            class="form-control"
                            id="Confirmationpassword"
                            placeholder="password"
                            name="Confirmationpassword"
                            ng-model="user.Confirmationpassword"
                            required compare-to="user.password" ng-focus/>

                    <div class="error-container"
                         ng-show="signup_form.Confirmationpassword.$dirty && signup_form.Confirmationpassword.$invalid && !signup_form.Confirmationpassword.$focused && !signup_form.Confirmationpassword.$compareTo">
                        <small class="error"
                               ng-show="signup_form.Confirmationpassword.$error">
                            <span class="span_error"> Passwords must match </span>
                        </small>
                    </div>
                </div>
            </div>

            <!-- Creation of the birth date of the user/ correct the bug via the directive datepicker-localdate that the date is saved with one day less-->

            <div class="form-group">
                <label for="birthday" class="col-xs-2 control-label">Date Of Birth*</label>

                <div class="col-xs-2">
                    <input
                            type="date"
                            class="form-control"
                            datepicker-popup
                            datepicker-localdate
                            ng-class="{error: signup_form.birthday.$dirty && signup_form.birthday.$invalid}"
                            id="birthday"
                            name="birthday"
                            ng-model="user.birthday"
                            required ng-focus/>

                    <div class="error-container"
                         ng-show="signup_form.birthday.$dirty && signup_form.birthday.$invalid && !signup_form.Confirmationpassword.$focused">
                        <small class="error"
                               ng-show="signup_form.birthday.$error">
                            <span class="span_error">We assume that was an invalid input! </span>
                        </small>
                    </div>
                </div>
            </div>

            <br>

            <h3> voluntary fields</h3>
            <hr class="dot"/>

            <!-- Create  street and secure user input -> at least 3 characters-->

            <div class="form-group">
                <label for="phoneNumber" class="col-xs-2 control-label">Phone Number</label>

                <div class="col-xs-10">
                    <input
                            ng-class="{error: signup_form.phoneNumber.$dirty && signup_form.phoneNumber.$invalid}"
                            type="text"
                            ng-pattern="/^[0-9]+$/"
                            class="form-control"
                            id="phoneNumber"
                            placeholder="Phone Number"
                            ng-model="user.phoneNumber"
                            name="phoneNumber"
                            ng-minlength="6"
                            ng-focus
                            />

                    <div class="error-container"
                         ng-show="signup_form.phoneNumber.$dirty && signup_form.phoneNumber.$invalid && !signup_form.phoneNumber.$focused">
                        <small class="error"
                               ng-show="signup_form.phoneNumber.$error.pattern">
                            <span class="span_error"> That is not a valid Phone Number! </span>
                        </small>
                        <small class="error"
                               ng-show="signup_form.phoneNumber.$error.minlength">
                            <span class="span_error"> A phone Number requires a minimum length of 6 characters!</span>
                        </small>
                    </div>
                </div>
            </div>

            <!-- Create  street and secure user input -> at least 3 characters-->

            <div class="form-group">
                <label for="street" class="col-xs-2 control-label">Street</label>

                <div class="col-xs-10">
                    <input
                            ng-class="{error: signup_form.street.$dirty && signup_form.street.$invalid}"
                            type="text"
                            class="form-control"
                            id="street"
                            placeholder="Street"
                            ng-model="user.street"
                            ng-pattern="/^[a-zA-Zß ]+$/"
                            name="street"
                            ng-minlength="3"
                            ng-focus
                            />

                    <div class="error-container"
                         ng-show="signup_form.street.$dirty && signup_form.street.$invalid && !signup_form.street.$focused">
                        <small class="error"
                               ng-show="signup_form.street.$error.minlength">
                            <span class="span_error"> A street requires a minimum length of 3 characters!</span>
                        </small>
                        <small class="error"
                               ng-show="signup_form.street.$error.pattern">
                            <span class="span_error"> That is not a valid street!</span>
                        </small>
                    </div>
                </div>
            </div>

            <!-- Create  house number and secure user input -> maximal 5 characters-->

            <div class="form-group">
                <label for="housenumber" class="col-xs-2 control-label">House number</label>

                <div class="col-xs-2">
                    <input
                            ng-class="{error: signup_form.housenumber.$dirty && signup_form.housenumber.$invalid}"
                            type="text"
                            class="form-control"
                            id="housenumber"
                            placeholder="House number"
                            ng-model="user.housenumber"
                            name="housenumber"
                            ng-maxlength="6"
                            ng-focus
                            />

                    <div class="error-container"
                         ng-show="signup_form.housenumber.$dirty && signup_form.housenumber.$invalid && !signup_form.housenumber.$focused">
                        <small class="error"
                               ng-show="signup_form.housenumber.$error.maxlength">
                            <span class="span_error"> That is not a valid house number!</span>
                        </small>
                    </div>
                </div>
            </div>

            <!-- Create the Postcode and secure user input -> maximal 15 characters-->

            <div class="form-group">
                <label for="postcode" class="col-xs-2 control-label">Postcode</label>

                <div class="col-xs-4">
                    <input
                            ng-class="{error: signup_form.postcode.$dirty && signup_form.postcode.$invalid }"
                            type="text"
                            class="form-control"
                            id="postcode"
                            placeholder="Postcode"
                            ng-model="user.postcode"
                            name="postcode"
                            ng-maxlength="15"
                            ng-focus
                            />

                    <div class="error-container"
                         ng-show="signup_form.postcode.$dirty && signup_form.postcode.$invalid && !signup_form.postcode.$focused">
                        <small class="error"
                               ng-show="signup_form.postcode.$error.maxlength">
                            <span class="span_error"> That is not a valid postcode!</span>
                        </small>
                    </div>
                </div>
            </div>

            <!-- Create the City and secure user input -> maximal 20 characters-->
            <div class="form-group">
                <label for="city" class="col-xs-2 control-label">City</label>

                <div class="col-xs-4">
                    <input
                            ng-class="{error: signup_form.city.$dirty && signup_form.city.$invalid }"
                            type="text"
                            class="form-control"
                            id="city"
                            ng-pattern="/^[a-zA-Zß]+$/"
                            placeholder="City"
                            ng-model="user.city"
                            name="city"
                            ng-minlength="3"
                            ng-focus
                            />

                    <div class="error-container"
                         ng-show="signup_form.city.$dirty && signup_form.city.$invalid && !signup_form.city.$focused">
                        <small class="error"
                               ng-show="signup_form.city.$error.pattern">
                            <span class="span_error"> That is not a valid city!</span>
                        </small>
                        <small class="error"
                               ng-show="signup_form.city.$error.minlength">
                            <span class="span_error"> A valid city has at least 3 characters!</span>
                        </small>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="country" class="col-xs-2 control-label"> Country</label>

                <div class="col-xs-2 control-label">
                    <select type="button" id="country" name="country"
                            class="form-control btn btn-default dropdown-toggle" data-toggle="dropdown"
                            ng-model="user.country"
                            ng-options="country.name for country in countries track by country.code">>
                        Select a Country <span class="caret"></span>
                    </select>
                </div>

            </div>


            <div class="form-group">
                <div class="col-sm-offset-6 col-xs-10">
                    <button type="submit" ng-disabled="signup_form.$invalid" class="btn btn-default vd_bg-green">
                        <span class="glyphicon glyphicon-plus"></span> Create Account
                    </button>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="alert-box alert-success" role='alert' ng-show="success">
                <h2> You created succesfully your drive2nature account </h2>
                <a href="#/login/">
                    <button class="btn btn-default">Go to Login</button>
                </a>
            </div>
            <div class="alert-box alert-danger" role='alert' ng-show="error">
                <h2> {{errorMessage}} </h2>
            </div>
        </div>
    </form>

</div>