@()

<!DOCTYPE html>
<html>
    <head>
        <title>drive2nature</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta http-equiv="content-language" content="de">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Finding a ride to natue and meeting new friends">
        <meta name="author" content="drive2nature">

        <link href='http://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>

        <link rel='shortcut icon' type='image/png' href='@routes.Assets.at("images/favicon.ico")'>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))'>

        <link href='@routes.Assets.at("css/style.css")' rel="stylesheet">
        <link href='@routes.Assets.at("css/wizard.css")' rel="stylesheet">

    </head>


    <body ng-app="drive2natureApp">
    <!--
        <div ng-view autoscroll="true" class="container-fluid" style="padding-bottom: 135px;"></div>
        -->

        <div id="wrap">
        <div ng-view autoscroll="true" class="container-fluid" id="top"></div>
        </div>
        <footer class="container-fluid footer">
            <div class="row">
                <div class="container">
                    <div class="row" >
                        <div class="col-md-offset-2 col-md-8 p-10">
                            <div class="text-cent">
                                <img src='@routes.Assets.at("images/logo.png")' class="img-responsive m-auto"/>
                            </div>
                        </div>
                        <div ng-controller="scrollController" class="col-md-2 p-20">
                            <p class="text-right"><a ng-click="gotoTop()">
                                Back to top  <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></a></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row p-10" style="background-color : black ; color : white ;">
                <div class="col-md-8">
                    <p class="m-top-10"><span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span><b>
                        Copyright 2015 by drive2nature. All Rights Reserved.</b></p>
                </div>
                <div class="col-md-4">
                    <ul class="nav nav-pills nav-justified">
                        <li><a href="#/about">About</a></li>
                        <li><a href="#/contact">Contact us</a></li>
                        <li><a href="#/imprint">Imprint</a></li>
                    </ul>
                </div>
            </div>
        </footer>

        <script type="text/javascript" src="@routes.WebJarAssets.at(WebJarAssets.locate("angular.min.js"))"></script>
        <script type="text/javascript" src="@routes.WebJarAssets.at(WebJarAssets.locate("angular-route.min.js"))"></script>
        <script type="text/javascript" src="@routes.WebJarAssets.at(WebJarAssets.locate("ui-bootstrap-tpls.min.js"))"></script>
        <script type="text/javascript" src="@routes.WebJarAssets.at(WebJarAssets.locate("angular-cookies.min.js"))"></script>
        <script type="text/javascript" src="@routes.WebJarAssets.at(WebJarAssets.locate("angular-sanitize.min.js"))"></script>
        <script type="text/javascript" src="@routes.WebJarAssets.at(WebJarAssets.locate("ng-file-upload.min.js"))"></script>

        <script type="text/javascript" src="@routes.Assets.at("js/app.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("js/userController.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("js/createTripController.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("js/loginController.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("js/homeController.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("js/aboutController.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("js/contactController.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("js/imprintController.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("js/showTripsController.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("js/deleteTripController.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("js/headerController.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("js/rateController.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("js/profileController.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("js/editController.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("js/deleteController.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("js/tripController.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("js/proposeTripController.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("js/messagesController.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("js/profilePublicController.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("js/myTripsController.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("js/confirmParticipationController.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("js/scrollController.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("js/editTripController.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("js/editProposeTripController.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("js/cancelTripController.js")"></script>

    </body>
</html>
